# 1. Hello World<a href="#1.-Hello-World" class="anchor-link">¶</a>

In \[1\]:

    print('Hello World')

    Hello World

In \[2\]:

    'Hello World'

Out\[2\]:

    'Hello World'

In \[3\]:

    # My Team 
    print('Edwin - Future Fantasy Football Champion')

    Edwin - Future Fantasy Football Champion

In \[ \]:

     

# 2. Data Types<a href="#2.-Data-Types" class="anchor-link">¶</a>

In \[ \]:

    #Type function to understand what object is

In \[6\]:

    tyoe(1)

Out\[6\]:

    int

In \[ \]:

    # Float = decimals

In \[4\]:

    type(2.0)

Out\[4\]:

    float

In \[8\]:

    1+2

Out\[8\]:

    3

In \[9\]:

    4-1

Out\[9\]:

    3

In \[6\]:

    # Noting that True must be capitalized for Bool function. Same for  False

    type(True)
    type(False)

Out\[6\]:

    bool

In \[11\]:

    type("Hello World")

Out\[11\]:

    str

In \[7\]:

    # make string all uppercase

    'Hello World'.upper()

Out\[7\]:

    'HELLO WORLD'

In \[8\]:

    # make string all lowercase
    "Hello World".lower()
    'HELLO WORLD'.lower()

Out\[8\]:

    'hello world'

In \[9\]:

    # make string CamelCase
    "hello world".title()
    'Hello WORLD'.title()

Out\[9\]:

    'Hello World'

In \[13\]:

    "Hello World".count('l') # count from string of choice

Out\[13\]:

    0

In \[16\]:

    "Hello World".replace('o', 'u') # first string is replaced with 2nd string

Out\[16\]:

    'Hellu Wurld'

In \[ \]:

     

# 3. Variables<a href="#3.-Variables" class="anchor-link">¶</a>

In \[17\]:

    message_1 = "I'm Learing Python" #assign variable with = sign. 

In \[18\]:

    message_1

Out\[18\]:

    "I'm Learing Python"

In \[19\]:

    message_2 = "and its fun!"

In \[20\]:

    message_2

Out\[20\]:

    'and its fun!'

In \[21\]:

    message_1 + message_2  #concat with + sign. No blank space in middle

Out\[21\]:

    "I'm Learing Pythonand its fun!"

In \[22\]:

    message_1 + ' ' + message_2 #blank space added with ' '

Out\[22\]:

    "I'm Learing Python and its fun!"

In \[23\]:

    message = message_1 + ' ' + message_2

In \[24\]:

    message

Out\[24\]:

    "I'm Learing Python and its fun!"

In \[25\]:

    f'Hello World'

Out\[25\]:

    'Hello World'

In \[26\]:

    f'{message_1}' # f strings or literal strings allow for variables inside. 
                   # Need single quote for F string and [} for variable]

Out\[26\]:

    "I'm Learing Python"

In \[27\]:

    f'{message_1} {message_2}' # f string with space in between to conact

Out\[27\]:

    "I'm Learing Python and its fun!"

# List<a href="#List" class="anchor-link">¶</a>

In \[28\]:

    countries = ['United States', 'Inda', 'China', 'Brazil']

In \[29\]:

    countries # call list after making it above with []. 

Out\[29\]:

    ['United States', 'Inda', 'China', 'Brazil']

In \[30\]:

    # Can have0 different data types within list. Strings, floats, int etc.
    # Can also have duplicate items

In \[31\]:

    countries[0] # example of how to index an item from list. 
                 # First item has an index of 0

Out\[31\]:

    'United States'

In \[32\]:

    countries[1]

Out\[32\]:

    'Inda'

In \[33\]:

    countries[2]

Out\[33\]:

    'China'

In \[34\]:

    countries[3]

Out\[34\]:

    'Brazil'

In \[35\]:

    countries[-1] # negative index to get last item in a list.

Out\[35\]:

    'Brazil'

In \[36\]:

    countries[-4]

Out\[36\]:

    'United States'

In \[37\]:

    # Slicing function
    # example of how to use slicing is this: list_name[start:stop]
    # the end of the slice does not include that index. 

    countries[0:2] # This only includes the first two elements (0 and 1 index)

Out\[37\]:

    ['United States', 'Inda']

In \[38\]:

    countries[0:3]

Out\[38\]:

    ['United States', 'Inda', 'China']

In \[39\]:

    countries[1:4]

Out\[39\]:

    ['Inda', 'China', 'Brazil']

In \[40\]:

    countries[1:] # this and the cell above produce same result. 
                  # Can omit last slice index to get to last element. 

Out\[40\]:

    ['Inda', 'China', 'Brazil']

In \[41\]:

    countries[:2]  # Can also omit first element to get from first element. 

Out\[41\]:

    ['United States', 'Inda']

# Add Elements to List<a href="#Add-Elements-to-List" class="anchor-link">¶</a>

In \[42\]:

    countries

Out\[42\]:

    ['United States', 'Inda', 'China', 'Brazil']

In \[43\]:

    # Append function. Adds item to end of list by default
    countries.append('Canada')

In \[44\]:

    countries

Out\[44\]:

    ['United States', 'Inda', 'China', 'Brazil', 'Canada']

In \[45\]:

    # Insert function 
    # Inserts an element based on the position you name first. 
    countries.insert(0,'Spain')

In \[46\]:

    countries

Out\[46\]:

    ['Spain', 'United States', 'Inda', 'China', 'Brazil', 'Canada']

In \[47\]:

    countries_2 = ['UK', 'Germany', 'Austria']

In \[48\]:

    # You can combine two lists as shown below

    countries + countries_2

Out\[48\]:

    ['Spain',
     'United States',
     'Inda',
     'China',
     'Brazil',
     'Canada',
     'UK',
     'Germany',
     'Austria']

In \[49\]:

    # nested list = a list inside another list

    nested_list = [countries, countries_2]

In \[50\]:

    nested_list

Out\[50\]:

    [['Spain', 'United States', 'Inda', 'China', 'Brazil', 'Canada'],
     ['UK', 'Germany', 'Austria']]

# Removing Elements from List<a href="#Removing-Elements-from-List" class="anchor-link">¶</a>

In \[51\]:

    countries

Out\[51\]:

    ['Spain', 'United States', 'Inda', 'China', 'Brazil', 'Canada']

In \[52\]:

    # Remove Function - remove element by name
    countries.remove('United States')

In \[53\]:

    countries

Out\[53\]:

    ['Spain', 'Inda', 'China', 'Brazil', 'Canada']

In \[54\]:

    # Pop Function - Remove element based on index and returns element
    countries.pop(-1)

Out\[54\]:

    'Canada'

In \[55\]:

    countries

Out\[55\]:

    ['Spain', 'Inda', 'China', 'Brazil']

In \[56\]:

    # Del Function. Different way to remove element from list. 

    del countries[0]

In \[57\]:

    countries

Out\[57\]:

    ['Inda', 'China', 'Brazil']

# Sorting a List<a href="#Sorting-a-List" class="anchor-link">¶</a>

In \[58\]:

    numbers = [4, 3, 10, 7, 1, 2]

In \[59\]:

    # Sort Function. Default is to sort from smallest to largest

    numbers.sort()

In \[60\]:

    numbers

Out\[60\]:

    [1, 2, 3, 4, 7, 10]

In \[61\]:

    # Sort Function with Descending option (largest to smallest instead)
    # Requires the reverse arguement set to True

    numbers.sort(reverse=True)

In \[62\]:

    numbers

Out\[62\]:

    [10, 7, 4, 3, 2, 1]

# Update an Element<a href="#Update-an-Element" class="anchor-link">¶</a>

In \[63\]:

    numbers[0] = 1000

In \[64\]:

    numbers

Out\[64\]:

    [1000, 7, 4, 3, 2, 1]

# Copying a List<a href="#Copying-a-List" class="anchor-link">¶</a>

In \[65\]:

    # Copy a list with Slicing
    # make a copy of whole list by slicing entire list
    countries = ['United States', 'Inda', 'China', 'Brazil']
    new_list = countries[:]

In \[66\]:

    new_list

Out\[66\]:

    ['United States', 'Inda', 'China', 'Brazil']

In \[67\]:

    # Copy Function another way to make a copy of a list
    new_list_2 = countries.copy()

In \[68\]:

    new_list_2

Out\[68\]:

    ['United States', 'Inda', 'China', 'Brazil']

# Dictionary<a href="#Dictionary" class="anchor-link">¶</a>

In \[69\]:

    # structure of a dictionary

    my_dict = {'key_1':'value1', 'key2':'value2'}

In \[83\]:

    my_data = {'name':'Frank', 'age':26}

In \[71\]:

    my_data

Out\[71\]:

    {'name': 'Frank', 'age': 26}

In \[84\]:

    # Method to get keys

    my_data.keys()

Out\[84\]:

    dict_keys(['name', 'age'])

In \[85\]:

    # Method to get values

    my_data.values()

Out\[85\]:

    dict_values(['Frank', 26])

In \[86\]:

    # method to get items

    my_data.items()

Out\[86\]:

    dict_items([('name', 'Frank'), ('age', 26)])

In \[87\]:

    # How to add new itemn to dictionary

    my_data['height'] = 1.7
    my_data['vertical'] = 38

In \[88\]:

    my_data

Out\[88\]:

    {'name': 'Frank', 'age': 26, 'height': 1.7, 'vertical': 38}

In \[77\]:

    # How to update values in dictionary

    my_data.update({'height':1.8})
    my_data.update({'vertical':39})

In \[78\]:

    my_data

Out\[78\]:

    {'name': 'Frank', 'age': 26, 'height': 1.8, 'vertical': 39}

# Copy a Dictionary<a href="#Copy-a-Dictionary" class="anchor-link">¶</a>

In \[79\]:

    # Make a copy of dictionary. 
    # Run the copy function first then assign or all at the same time. 

    new_dict = my_data.copy()

In \[80\]:

    # If changes are made to old dictionary, those changes will not reflect in copy
    # This is the case if we use the .copy function
    new_dict

Out\[80\]:

    {'name': 'Frank', 'age': 26, 'height': 1.8, 'vertical': 39}

In \[81\]:

    # Can have a copy where the new dictionary copy is updated.
    # You would need to set new variable to the dictionary ( no copy)

    new_dict_2 = my_data

## Remove Element From List<a href="#Remove-Element-From-List" class="anchor-link">¶</a>

In \[93\]:

    # removes both the key and value for this element.
    # Pop also returns what is removed


    my_data.pop('name')

    ---------------------------------------------------------------------------
    KeyError                                  Traceback (most recent call last)
    Cell In[93], line 5
          1 # removes both the key and value for this element.
          2 # Pop also returns what is removed
    ----> 5 my_data.pop('name')

    KeyError: 'name'

In \[91\]:

    my_data

Out\[91\]:

    {'age': 26, 'height': 1.7, 'vertical': 38}

In \[94\]:

    del my_data['age']

In \[95\]:

    my_data

Out\[95\]:

    {'height': 1.7, 'vertical': 38}

In \[96\]:

    my_data.clear()

In \[97\]:

    my_data

Out\[97\]:

    {}

# IF Statement<a href="#IF-Statement" class="anchor-link">¶</a>

if : ` elif :          ... else         `

In \[101\]:

    age = 10

    if age>=18:
        print("You're an adult")
    elif age>=13:
        print("You're a teenager")
    else:
        print("You're a kid")

    You're a kid

In \[103\]:

    age = 18

    if age>=18:
        print("You're an adult")
    elif age>=13:
        print("You're a teenager")
    else:
        print("You're a kid")

    You're an adult

In \[102\]:

    age = 14

    if age>=18:
        print("You're an adult")
    elif age>=13:
        print("You're a teenager")
    else:
        print("You're a kid")

    You're a teenager

# FOR Loop<a href="#FOR-Loop" class="anchor-link">¶</a>

for in : `    `

In \[104\]:

    countries

Out\[104\]:

    ['United States', 'Inda', 'China', 'Brazil']

In \[106\]:

    for country in countries:
        print(country)

    United States
    Inda
    China
    Brazil

In \[107\]:

    # Adding in enumerate function to count. Also need to add in a second variable
    # In this case, we add in the variable "i" as well

    for i, country in enumerate(countries):
        print(i)
        print(country)

    0
    United States
    1
    Inda
    2
    China
    3
    Brazil

In \[109\]:

    my_data = {'name':'Frank', 'age':26}
    my_data

Out\[109\]:

    {'name': 'Frank', 'age': 26}

In \[110\]:

    # For loop for dictionaries

    for key, value in my_data.items():
        print(key)
        print(value)

    name
    Frank
    age
    26

# Function<a href="#Function" class="anchor-link">¶</a>

def function(): `     return     `

In \[111\]:

    def sum_values(a,b):
        x = a + b
        return x

In \[112\]:

    sum_values(1,3)

Out\[112\]:

    4

# Built in Functions<a href="#Built-in-Functions" class="anchor-link">¶</a>

In \[122\]:

    countries = ['United States', 'Inda', 'China', 'Brazil']

In \[118\]:

    # length function. Can be for list too

    len(countries)

Out\[118\]:

    4

In \[114\]:

    len('family')

Out\[114\]:

    6

In \[119\]:

    max([10, 63, 81, 1, 99])

Out\[119\]:

    99

In \[120\]:

    min([10, 63, 81, 1, 99])

Out\[120\]:

    1

In \[121\]:

    type(countries)

Out\[121\]:

    list

In \[127\]:

    # Need to use for in conjunction with range to get the result below

    for i in range(1, 10, 2):
        print(i)

    1
    3
    5
    7
    9

# Module<a href="#Module" class="anchor-link">¶</a>

## OS Module<a href="#OS-Module" class="anchor-link">¶</a>

In \[128\]:

    import os

In \[129\]:

    os.getcwd()

Out\[129\]:

    'C:\\Users\\13239\\Python Projects\\My_Course'

In \[130\]:

    os.listdir()

Out\[130\]:

    ['.ipynb_checkpoints', 'Example.ipynb']

In \[131\]:

    os.makedirs("New Folder")

In \[132\]:

    os.listdir()

Out\[132\]:

    ['.ipynb_checkpoints', 'Example.ipynb', 'New Folder']

# Introduction to Pandas<a href="#Introduction-to-Pandas" class="anchor-link">¶</a>

In \[ \]:

    # 2 main data structures in pandas are series and dataframes
    # Series is a 1 dimensional array = excel column
    # Dataframe is a 2 dimensional array = excel spreadsheet
    # index for python starts at 0

In \[ \]:

    # Column names are called features
    # each row is called an observation
    # single column should have the same data type

In \[ \]:

    # Excel vs Pandas Terminology 

    ## Excel Worksheet = Data Frame
    ## Excel Column = Series
    ## Excel row heading = Index
    ## Excel row = row (observation)
    ## Excel empty cell = NaN (stands for "not a number")

In \[ \]:

    # Can create a dataframe with arrays or dictionaries or CSV files

In \[3\]:

    import pandas as pd
    import numpy as np

# Create a Dataframe from an arrray<a href="#Create-a-Dataframe-from-an-arrray" class="anchor-link">¶</a>

In \[134\]:

    # creating an array
    data = np.array([[1,4], [2,5], [3,6]])

In \[136\]:

    # creating a dataframe

    df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                columns = ['col1', 'col2'])

In \[137\]:

    # showing the dataframe
    df

Out\[137\]:

|      | col1 | col2 |
|------|------|------|
| row1 | 1    | 4    |
| row2 | 2    | 5    |
| row3 | 3    | 6    |

# Option 2<a href="#Option-2" class="anchor-link">¶</a>

In \[138\]:

    # creating an array with list shape
    data = [[1,4], [2,5], [3,6]]

In \[142\]:

    # creating a dataframe

    df = pd.DataFrame(data, index=['row1', 'row2', 'row3'],
                columns = ['col1', 'col2'])

In \[143\]:

    # showing the dataframe (same result)

    df

Out\[143\]:

|      | col1 | col2 |
|------|------|------|
| row1 | 1    | 4    |
| row2 | 2    | 5    |
| row3 | 3    | 6    |

# Creating a DataFrame from a dictionary<a href="#Creating-a-DataFrame-from-a-dictionary" class="anchor-link">¶</a>

In \[145\]:

    # list used for this example
    states = ['California', 'Texas', 'Florida', 'New York']
    population = [39613493, 29730311, 21944577, 19299981]

In \[146\]:

    # Storing lists within a dictionary

    dict_states = {'States':states, 'Population': population}

In \[147\]:

    # creating the dataframe

    df_population = pd.DataFrame(dict_states)

In \[ \]:

    # showing the datafrane

In \[149\]:

    df_population

Out\[149\]:

|     | States     | Population |
|-----|------------|------------|
| 0   | California | 39613493   |
| 1   | Texas      | 29730311   |
| 2   | Florida    | 21944577   |
| 3   | New York   | 19299981   |

# Creating a DataFrame from a csv file<a href="#Creating-a-DataFrame-from-a-csv-file" class="anchor-link">¶</a>

In \[4\]:

    # reading the csv file
    ## make sure to upload csv file into working directory

    df_exams = pd.read_csv('StudentsPerformance.csv')

In \[7\]:

    # show the first 5 rows in a dataframe

    df_exams.head()

Out\[7\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |

In \[8\]:

    # view almost all rows (summary)

    df_exams

Out\[8\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            |

1000 rows × 8 columns

In \[9\]:

    # shows last 5 rows in a dataframe
    df_exams.tail()

Out\[9\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            |

In \[10\]:

    # show first n rows in a dataframe

    df_exams.head(10)

Out\[10\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |
| 5   | female | group B        | associate's degree          | standard     | none                    | 71         | 83            | 78            |
| 6   | female | group B        | some college                | standard     | completed               | 88         | 95            | 92            |
| 7   | male   | group B        | some college                | free/reduced | none                    | 40         | 43            | 39            |
| 8   | male   | group D        | high school                 | free/reduced | completed               | 64         | 64            | 67            |
| 9   | female | group B        | high school                 | free/reduced | none                    | 38         | 60            | 50            |

In \[11\]:

    # show last n rows in a dataframe

    df_exams.tail(10)

Out\[11\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 990 | male   | group E        | high school                 | free/reduced | completed               | 86         | 81            | 75            |
| 991 | female | group B        | some high school            | standard     | completed               | 65         | 82            | 78            |
| 992 | female | group D        | associate's degree          | free/reduced | none                    | 55         | 76            | 76            |
| 993 | female | group D        | bachelor's degree           | free/reduced | none                    | 62         | 72            | 74            |
| 994 | male   | group A        | high school                 | standard     | none                    | 63         | 63            | 62            |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            |

In \[12\]:

    # getting access to the shape attribute, number of rows and columns

    df_exams.shape

Out\[12\]:

    (1000, 8)

In \[13\]:

    # display all rows

    pd.set_option('display.max_rows', 1000)

In \[160\]:

    df_exams

Out\[160\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |
| 5   | female | group B        | associate's degree          | standard     | none                    | 71         | 83            | 78            |
| 6   | female | group B        | some college                | standard     | completed               | 88         | 95            | 92            |
| 7   | male   | group B        | some college                | free/reduced | none                    | 40         | 43            | 39            |
| 8   | male   | group D        | high school                 | free/reduced | completed               | 64         | 64            | 67            |
| 9   | female | group B        | high school                 | free/reduced | none                    | 38         | 60            | 50            |
| 10  | male   | group C        | associate's degree          | standard     | none                    | 58         | 54            | 52            |
| 11  | male   | group D        | associate's degree          | standard     | none                    | 40         | 52            | 43            |
| 12  | female | group B        | high school                 | standard     | none                    | 65         | 81            | 73            |
| 13  | male   | group A        | some college                | standard     | completed               | 78         | 72            | 70            |
| 14  | female | group A        | master's degree             | standard     | none                    | 50         | 53            | 58            |
| 15  | female | group C        | some high school            | standard     | none                    | 69         | 75            | 78            |
| 16  | male   | group C        | high school                 | standard     | none                    | 88         | 89            | 86            |
| 17  | female | group B        | some high school            | free/reduced | none                    | 18         | 32            | 28            |
| 18  | male   | group C        | master's degree             | free/reduced | completed               | 46         | 42            | 46            |
| 19  | female | group C        | associate's degree          | free/reduced | none                    | 54         | 58            | 61            |
| 20  | male   | group D        | high school                 | standard     | none                    | 66         | 69            | 63            |
| 21  | female | group B        | some college                | free/reduced | completed               | 65         | 75            | 70            |
| 22  | male   | group D        | some college                | standard     | none                    | 44         | 54            | 53            |
| 23  | female | group C        | some high school            | standard     | none                    | 69         | 73            | 73            |
| 24  | male   | group D        | bachelor's degree           | free/reduced | completed               | 74         | 71            | 80            |
| 25  | male   | group A        | master's degree             | free/reduced | none                    | 73         | 74            | 72            |
| 26  | male   | group B        | some college                | standard     | none                    | 69         | 54            | 55            |
| 27  | female | group C        | bachelor's degree           | standard     | none                    | 67         | 69            | 75            |
| 28  | male   | group C        | high school                 | standard     | none                    | 70         | 70            | 65            |
| 29  | female | group D        | master's degree             | standard     | none                    | 62         | 70            | 75            |
| 30  | female | group D        | some college                | standard     | none                    | 69         | 74            | 74            |
| 31  | female | group B        | some college                | standard     | none                    | 63         | 65            | 61            |
| 32  | female | group E        | master's degree             | free/reduced | none                    | 56         | 72            | 65            |
| 33  | male   | group D        | some college                | standard     | none                    | 40         | 42            | 38            |
| 34  | male   | group E        | some college                | standard     | none                    | 97         | 87            | 82            |
| 35  | male   | group E        | associate's degree          | standard     | completed               | 81         | 81            | 79            |
| 36  | female | group D        | associate's degree          | standard     | none                    | 74         | 81            | 83            |
| 37  | female | group D        | some high school            | free/reduced | none                    | 50         | 64            | 59            |
| 38  | female | group D        | associate's degree          | free/reduced | completed               | 75         | 90            | 88            |
| 39  | male   | group B        | associate's degree          | free/reduced | none                    | 57         | 56            | 57            |
| 40  | male   | group C        | associate's degree          | free/reduced | none                    | 55         | 61            | 54            |
| 41  | female | group C        | associate's degree          | standard     | none                    | 58         | 73            | 68            |
| 42  | female | group B        | associate's degree          | standard     | none                    | 53         | 58            | 65            |
| 43  | male   | group B        | some college                | free/reduced | completed               | 59         | 65            | 66            |
| 44  | female | group E        | associate's degree          | free/reduced | none                    | 50         | 56            | 54            |
| 45  | male   | group B        | associate's degree          | standard     | none                    | 65         | 54            | 57            |
| 46  | female | group A        | associate's degree          | standard     | completed               | 55         | 65            | 62            |
| 47  | female | group C        | high school                 | standard     | none                    | 66         | 71            | 76            |
| 48  | female | group D        | associate's degree          | free/reduced | completed               | 57         | 74            | 76            |
| 49  | male   | group C        | high school                 | standard     | completed               | 82         | 84            | 82            |
| 50  | male   | group E        | some college                | standard     | none                    | 53         | 55            | 48            |
| 51  | male   | group E        | associate's degree          | free/reduced | completed               | 77         | 69            | 68            |
| 52  | male   | group C        | some college                | standard     | none                    | 53         | 44            | 42            |
| 53  | male   | group D        | high school                 | standard     | none                    | 88         | 78            | 75            |
| 54  | female | group C        | some high school            | free/reduced | completed               | 71         | 84            | 87            |
| 55  | female | group C        | high school                 | free/reduced | none                    | 33         | 41            | 43            |
| 56  | female | group E        | associate's degree          | standard     | completed               | 82         | 85            | 86            |
| 57  | male   | group D        | associate's degree          | standard     | none                    | 52         | 55            | 49            |
| 58  | male   | group D        | some college                | standard     | completed               | 58         | 59            | 58            |
| 59  | female | group C        | some high school            | free/reduced | none                    | 0          | 17            | 10            |
| 60  | male   | group E        | bachelor's degree           | free/reduced | completed               | 79         | 74            | 72            |
| 61  | male   | group A        | some high school            | free/reduced | none                    | 39         | 39            | 34            |
| 62  | male   | group A        | associate's degree          | free/reduced | none                    | 62         | 61            | 55            |
| 63  | female | group C        | associate's degree          | standard     | none                    | 69         | 80            | 71            |
| 64  | female | group D        | some high school            | standard     | none                    | 59         | 58            | 59            |
| 65  | male   | group B        | some high school            | standard     | none                    | 67         | 64            | 61            |
| 66  | male   | group D        | some high school            | free/reduced | none                    | 45         | 37            | 37            |
| 67  | female | group C        | some college                | standard     | none                    | 60         | 72            | 74            |
| 68  | male   | group B        | associate's degree          | free/reduced | none                    | 61         | 58            | 56            |
| 69  | female | group C        | associate's degree          | standard     | none                    | 39         | 64            | 57            |
| 70  | female | group D        | some college                | free/reduced | completed               | 58         | 63            | 73            |
| 71  | male   | group D        | some college                | standard     | completed               | 63         | 55            | 63            |
| 72  | female | group A        | associate's degree          | free/reduced | none                    | 41         | 51            | 48            |
| 73  | male   | group C        | some high school            | free/reduced | none                    | 61         | 57            | 56            |
| 74  | male   | group C        | some high school            | standard     | none                    | 49         | 49            | 41            |
| 75  | male   | group B        | associate's degree          | free/reduced | none                    | 44         | 41            | 38            |
| 76  | male   | group E        | some high school            | standard     | none                    | 30         | 26            | 22            |
| 77  | male   | group A        | bachelor's degree           | standard     | completed               | 80         | 78            | 81            |
| 78  | female | group D        | some high school            | standard     | completed               | 61         | 74            | 72            |
| 79  | female | group E        | master's degree             | standard     | none                    | 62         | 68            | 68            |
| 80  | female | group B        | associate's degree          | standard     | none                    | 47         | 49            | 50            |
| 81  | male   | group B        | high school                 | free/reduced | none                    | 49         | 45            | 45            |
| 82  | male   | group A        | some college                | free/reduced | completed               | 50         | 47            | 54            |
| 83  | male   | group E        | associate's degree          | standard     | none                    | 72         | 64            | 63            |
| 84  | male   | group D        | high school                 | free/reduced | none                    | 42         | 39            | 34            |
| 85  | female | group C        | some college                | standard     | none                    | 73         | 80            | 82            |
| 86  | female | group C        | some college                | free/reduced | none                    | 76         | 83            | 88            |
| 87  | female | group D        | associate's degree          | standard     | none                    | 71         | 71            | 74            |
| 88  | female | group A        | some college                | standard     | none                    | 58         | 70            | 67            |
| 89  | female | group D        | some high school            | standard     | none                    | 73         | 86            | 82            |
| 90  | female | group C        | bachelor's degree           | standard     | none                    | 65         | 72            | 74            |
| 91  | male   | group C        | high school                 | free/reduced | none                    | 27         | 34            | 36            |
| 92  | male   | group C        | high school                 | standard     | none                    | 71         | 79            | 71            |
| 93  | male   | group C        | associate's degree          | free/reduced | completed               | 43         | 45            | 50            |
| 94  | female | group B        | some college                | standard     | none                    | 79         | 86            | 92            |
| 95  | male   | group C        | associate's degree          | free/reduced | completed               | 78         | 81            | 82            |
| 96  | male   | group B        | some high school            | standard     | completed               | 65         | 66            | 62            |
| 97  | female | group E        | some college                | standard     | completed               | 63         | 72            | 70            |
| 98  | female | group D        | some college                | free/reduced | none                    | 58         | 67            | 62            |
| 99  | female | group D        | bachelor's degree           | standard     | none                    | 65         | 67            | 62            |
| 100 | male   | group B        | some college                | standard     | none                    | 79         | 67            | 67            |
| 101 | male   | group D        | bachelor's degree           | standard     | completed               | 68         | 74            | 74            |
| 102 | female | group D        | associate's degree          | standard     | none                    | 85         | 91            | 89            |
| 103 | male   | group B        | high school                 | standard     | completed               | 60         | 44            | 47            |
| 104 | male   | group C        | some college                | standard     | completed               | 98         | 86            | 90            |
| 105 | female | group C        | some college                | standard     | none                    | 58         | 67            | 72            |
| 106 | female | group D        | master's degree             | standard     | none                    | 87         | 100           | 100           |
| 107 | male   | group E        | associate's degree          | standard     | completed               | 66         | 63            | 64            |
| 108 | female | group B        | associate's degree          | free/reduced | none                    | 52         | 76            | 70            |
| 109 | female | group B        | some high school            | standard     | none                    | 70         | 64            | 72            |
| 110 | female | group D        | associate's degree          | free/reduced | completed               | 77         | 89            | 98            |
| 111 | male   | group C        | high school                 | standard     | none                    | 62         | 55            | 49            |
| 112 | male   | group A        | associate's degree          | standard     | none                    | 54         | 53            | 47            |
| 113 | female | group D        | some college                | standard     | none                    | 51         | 58            | 54            |
| 114 | female | group E        | bachelor's degree           | standard     | completed               | 99         | 100           | 100           |
| 115 | male   | group C        | high school                 | standard     | none                    | 84         | 77            | 74            |
| 116 | female | group B        | bachelor's degree           | free/reduced | none                    | 75         | 85            | 82            |
| 117 | female | group D        | bachelor's degree           | standard     | none                    | 78         | 82            | 79            |
| 118 | female | group D        | some high school            | standard     | none                    | 51         | 63            | 61            |
| 119 | female | group C        | some college                | standard     | none                    | 55         | 69            | 65            |
| 120 | female | group C        | bachelor's degree           | standard     | completed               | 79         | 92            | 89            |
| 121 | male   | group B        | associate's degree          | standard     | completed               | 91         | 89            | 92            |
| 122 | female | group C        | some college                | standard     | completed               | 88         | 93            | 93            |
| 123 | male   | group D        | high school                 | free/reduced | none                    | 63         | 57            | 56            |
| 124 | male   | group E        | some college                | standard     | none                    | 83         | 80            | 73            |
| 125 | female | group B        | high school                 | standard     | none                    | 87         | 95            | 86            |
| 126 | male   | group B        | some high school            | standard     | none                    | 72         | 68            | 67            |
| 127 | male   | group D        | some college                | standard     | completed               | 65         | 77            | 74            |
| 128 | male   | group D        | master's degree             | standard     | none                    | 82         | 82            | 74            |
| 129 | female | group A        | bachelor's degree           | standard     | none                    | 51         | 49            | 51            |
| 130 | male   | group D        | master's degree             | standard     | none                    | 89         | 84            | 82            |
| 131 | male   | group C        | some high school            | free/reduced | completed               | 53         | 37            | 40            |
| 132 | male   | group E        | some college                | free/reduced | completed               | 87         | 74            | 70            |
| 133 | female | group C        | some college                | standard     | completed               | 75         | 81            | 84            |
| 134 | male   | group D        | bachelor's degree           | free/reduced | completed               | 74         | 79            | 75            |
| 135 | male   | group C        | bachelor's degree           | standard     | none                    | 58         | 55            | 48            |
| 136 | male   | group B        | some high school            | standard     | completed               | 51         | 54            | 41            |
| 137 | male   | group E        | high school                 | standard     | none                    | 70         | 55            | 56            |
| 138 | female | group C        | associate's degree          | standard     | none                    | 59         | 66            | 67            |
| 139 | male   | group D        | some college                | standard     | completed               | 71         | 61            | 69            |
| 140 | female | group D        | some high school            | standard     | none                    | 76         | 72            | 71            |
| 141 | female | group C        | some college                | free/reduced | none                    | 59         | 62            | 64            |
| 142 | female | group E        | some college                | free/reduced | completed               | 42         | 55            | 54            |
| 143 | male   | group A        | high school                 | standard     | none                    | 57         | 43            | 47            |
| 144 | male   | group D        | some college                | standard     | none                    | 88         | 73            | 78            |
| 145 | female | group C        | some college                | free/reduced | none                    | 22         | 39            | 33            |
| 146 | male   | group B        | some high school            | standard     | none                    | 88         | 84            | 75            |
| 147 | male   | group C        | associate's degree          | free/reduced | none                    | 73         | 68            | 66            |
| 148 | female | group D        | bachelor's degree           | standard     | completed               | 68         | 75            | 81            |
| 149 | male   | group E        | associate's degree          | free/reduced | completed               | 100        | 100           | 93            |
| 150 | male   | group A        | some high school            | standard     | completed               | 62         | 67            | 69            |
| 151 | male   | group A        | bachelor's degree           | standard     | none                    | 77         | 67            | 68            |
| 152 | female | group B        | associate's degree          | standard     | completed               | 59         | 70            | 66            |
| 153 | male   | group D        | bachelor's degree           | standard     | none                    | 54         | 49            | 47            |
| 154 | male   | group D        | some high school            | standard     | none                    | 62         | 67            | 61            |
| 155 | female | group C        | some college                | standard     | completed               | 70         | 89            | 88            |
| 156 | female | group E        | high school                 | free/reduced | completed               | 66         | 74            | 78            |
| 157 | male   | group B        | some college                | free/reduced | none                    | 60         | 60            | 60            |
| 158 | female | group B        | associate's degree          | standard     | completed               | 61         | 86            | 87            |
| 159 | male   | group D        | associate's degree          | free/reduced | none                    | 66         | 62            | 64            |
| 160 | male   | group B        | associate's degree          | free/reduced | completed               | 82         | 78            | 74            |
| 161 | female | group E        | some college                | free/reduced | completed               | 75         | 88            | 85            |
| 162 | male   | group B        | master's degree             | free/reduced | none                    | 49         | 53            | 52            |
| 163 | male   | group C        | high school                 | standard     | none                    | 52         | 53            | 49            |
| 164 | female | group E        | master's degree             | standard     | none                    | 81         | 92            | 91            |
| 165 | female | group C        | bachelor's degree           | standard     | completed               | 96         | 100           | 100           |
| 166 | male   | group C        | high school                 | free/reduced | completed               | 53         | 51            | 51            |
| 167 | female | group B        | master's degree             | free/reduced | completed               | 58         | 76            | 78            |
| 168 | female | group B        | high school                 | standard     | completed               | 68         | 83            | 78            |
| 169 | female | group C        | some college                | free/reduced | completed               | 67         | 75            | 70            |
| 170 | male   | group A        | high school                 | standard     | completed               | 72         | 73            | 74            |
| 171 | male   | group E        | some high school            | standard     | none                    | 94         | 88            | 78            |
| 172 | female | group D        | some college                | standard     | none                    | 79         | 86            | 81            |
| 173 | female | group C        | associate's degree          | standard     | none                    | 63         | 67            | 70            |
| 174 | female | group C        | bachelor's degree           | free/reduced | completed               | 43         | 51            | 54            |
| 175 | female | group C        | master's degree             | standard     | completed               | 81         | 91            | 87            |
| 176 | female | group B        | high school                 | free/reduced | completed               | 46         | 54            | 58            |
| 177 | female | group C        | associate's degree          | standard     | completed               | 71         | 77            | 77            |
| 178 | female | group B        | master's degree             | free/reduced | completed               | 52         | 70            | 62            |
| 179 | female | group D        | some high school            | standard     | completed               | 97         | 100           | 100           |
| 180 | male   | group C        | master's degree             | free/reduced | completed               | 62         | 68            | 75            |
| 181 | female | group C        | some college                | free/reduced | none                    | 46         | 64            | 66            |
| 182 | female | group E        | high school                 | standard     | none                    | 50         | 50            | 47            |
| 183 | female | group D        | associate's degree          | standard     | none                    | 65         | 69            | 70            |
| 184 | male   | group C        | some high school            | free/reduced | completed               | 45         | 52            | 49            |
| 185 | male   | group C        | associate's degree          | free/reduced | completed               | 65         | 67            | 65            |
| 186 | male   | group E        | high school                 | standard     | none                    | 80         | 76            | 65            |
| 187 | male   | group D        | some high school            | standard     | completed               | 62         | 66            | 68            |
| 188 | male   | group B        | some high school            | free/reduced | none                    | 48         | 52            | 45            |
| 189 | female | group C        | bachelor's degree           | standard     | none                    | 77         | 88            | 87            |
| 190 | female | group E        | associate's degree          | standard     | none                    | 66         | 65            | 69            |
| 191 | male   | group D        | some college                | standard     | completed               | 76         | 83            | 79            |
| 192 | female | group B        | some high school            | standard     | none                    | 62         | 64            | 66            |
| 193 | male   | group D        | some college                | standard     | completed               | 77         | 62            | 62            |
| 194 | female | group C        | master's degree             | standard     | completed               | 69         | 84            | 85            |
| 195 | male   | group D        | associate's degree          | standard     | none                    | 61         | 55            | 52            |
| 196 | male   | group C        | some high school            | free/reduced | completed               | 59         | 69            | 65            |
| 197 | male   | group E        | high school                 | free/reduced | none                    | 55         | 56            | 51            |
| 198 | female | group B        | some college                | free/reduced | none                    | 45         | 53            | 55            |
| 199 | female | group B        | bachelor's degree           | free/reduced | none                    | 78         | 79            | 76            |
| 200 | female | group C        | associate's degree          | standard     | completed               | 67         | 84            | 86            |
| 201 | female | group D        | some college                | free/reduced | none                    | 65         | 81            | 77            |
| 202 | male   | group C        | associate's degree          | standard     | none                    | 69         | 77            | 69            |
| 203 | female | group B        | associate's degree          | standard     | none                    | 57         | 69            | 68            |
| 204 | male   | group C        | some college                | standard     | none                    | 59         | 41            | 42            |
| 205 | male   | group D        | some high school            | standard     | completed               | 74         | 71            | 78            |
| 206 | male   | group E        | bachelor's degree           | standard     | none                    | 82         | 62            | 62            |
| 207 | male   | group E        | high school                 | standard     | completed               | 81         | 80            | 76            |
| 208 | female | group B        | some college                | free/reduced | none                    | 74         | 81            | 76            |
| 209 | female | group B        | some college                | free/reduced | none                    | 58         | 61            | 66            |
| 210 | male   | group D        | some high school            | free/reduced | completed               | 80         | 79            | 79            |
| 211 | male   | group C        | some college                | free/reduced | none                    | 35         | 28            | 27            |
| 212 | female | group C        | high school                 | free/reduced | none                    | 42         | 62            | 60            |
| 213 | male   | group C        | associate's degree          | free/reduced | completed               | 60         | 51            | 56            |
| 214 | male   | group E        | high school                 | standard     | completed               | 87         | 91            | 81            |
| 215 | male   | group B        | some high school            | standard     | completed               | 84         | 83            | 75            |
| 216 | female | group E        | associate's degree          | free/reduced | completed               | 83         | 86            | 88            |
| 217 | female | group C        | high school                 | free/reduced | none                    | 34         | 42            | 39            |
| 218 | male   | group B        | high school                 | free/reduced | none                    | 66         | 77            | 70            |
| 219 | male   | group B        | some high school            | standard     | completed               | 61         | 56            | 56            |
| 220 | female | group D        | high school                 | standard     | completed               | 56         | 68            | 74            |
| 221 | male   | group B        | associate's degree          | standard     | none                    | 87         | 85            | 73            |
| 222 | female | group C        | some high school            | free/reduced | none                    | 55         | 65            | 62            |
| 223 | male   | group D        | some high school            | standard     | none                    | 86         | 80            | 75            |
| 224 | female | group B        | associate's degree          | standard     | completed               | 52         | 66            | 73            |
| 225 | female | group E        | master's degree             | free/reduced | none                    | 45         | 56            | 54            |
| 226 | female | group C        | some college                | standard     | none                    | 72         | 72            | 71            |
| 227 | male   | group D        | high school                 | standard     | none                    | 57         | 50            | 54            |
| 228 | male   | group A        | some high school            | free/reduced | none                    | 68         | 72            | 64            |
| 229 | female | group C        | some college                | standard     | completed               | 88         | 95            | 94            |
| 230 | male   | group D        | some college                | standard     | none                    | 76         | 64            | 66            |
| 231 | male   | group C        | associate's degree          | standard     | none                    | 46         | 43            | 42            |
| 232 | female | group B        | bachelor's degree           | standard     | none                    | 67         | 86            | 83            |
| 233 | male   | group E        | some high school            | standard     | none                    | 92         | 87            | 78            |
| 234 | male   | group C        | bachelor's degree           | standard     | completed               | 83         | 82            | 84            |
| 235 | male   | group D        | associate's degree          | standard     | none                    | 80         | 75            | 77            |
| 236 | male   | group D        | bachelor's degree           | free/reduced | none                    | 63         | 66            | 67            |
| 237 | female | group D        | some high school            | standard     | completed               | 64         | 60            | 74            |
| 238 | male   | group B        | some college                | standard     | none                    | 54         | 52            | 51            |
| 239 | male   | group C        | associate's degree          | standard     | none                    | 84         | 80            | 80            |
| 240 | male   | group D        | high school                 | free/reduced | completed               | 73         | 68            | 66            |
| 241 | female | group E        | bachelor's degree           | standard     | none                    | 80         | 83            | 83            |
| 242 | female | group D        | high school                 | standard     | none                    | 56         | 52            | 55            |
| 243 | male   | group E        | some college                | standard     | none                    | 59         | 51            | 43            |
| 244 | male   | group D        | some high school            | standard     | none                    | 75         | 74            | 69            |
| 245 | male   | group C        | associate's degree          | standard     | none                    | 85         | 76            | 71            |
| 246 | male   | group E        | associate's degree          | standard     | none                    | 89         | 76            | 74            |
| 247 | female | group B        | high school                 | standard     | completed               | 58         | 70            | 68            |
| 248 | female | group B        | high school                 | standard     | none                    | 65         | 64            | 62            |
| 249 | male   | group C        | high school                 | standard     | none                    | 68         | 60            | 53            |
| 250 | male   | group A        | some high school            | standard     | completed               | 47         | 49            | 49            |
| 251 | female | group D        | some college                | free/reduced | none                    | 71         | 83            | 83            |
| 252 | female | group B        | some high school            | standard     | completed               | 60         | 70            | 70            |
| 253 | male   | group D        | master's degree             | standard     | none                    | 80         | 80            | 72            |
| 254 | male   | group D        | high school                 | standard     | none                    | 54         | 52            | 52            |
| 255 | female | group E        | some college                | standard     | none                    | 62         | 73            | 70            |
| 256 | female | group C        | associate's degree          | free/reduced | none                    | 64         | 73            | 68            |
| 257 | male   | group C        | associate's degree          | standard     | completed               | 78         | 77            | 77            |
| 258 | female | group B        | some college                | standard     | none                    | 70         | 75            | 78            |
| 259 | female | group C        | master's degree             | free/reduced | completed               | 65         | 81            | 81            |
| 260 | female | group C        | some high school            | free/reduced | completed               | 64         | 79            | 77            |
| 261 | male   | group C        | some college                | standard     | completed               | 79         | 79            | 78            |
| 262 | female | group C        | some high school            | free/reduced | none                    | 44         | 50            | 51            |
| 263 | female | group E        | high school                 | standard     | none                    | 99         | 93            | 90            |
| 264 | male   | group D        | high school                 | standard     | none                    | 76         | 73            | 68            |
| 265 | male   | group D        | some high school            | free/reduced | none                    | 59         | 42            | 41            |
| 266 | female | group C        | bachelor's degree           | standard     | none                    | 63         | 75            | 81            |
| 267 | female | group D        | high school                 | standard     | none                    | 69         | 72            | 77            |
| 268 | female | group D        | associate's degree          | standard     | completed               | 88         | 92            | 95            |
| 269 | female | group E        | some college                | free/reduced | none                    | 71         | 76            | 70            |
| 270 | male   | group C        | bachelor's degree           | standard     | none                    | 69         | 63            | 61            |
| 271 | male   | group C        | some college                | standard     | none                    | 58         | 49            | 42            |
| 272 | female | group D        | associate's degree          | free/reduced | none                    | 47         | 53            | 58            |
| 273 | female | group D        | some college                | standard     | none                    | 65         | 70            | 71            |
| 274 | male   | group B        | some college                | standard     | completed               | 88         | 85            | 76            |
| 275 | male   | group C        | bachelor's degree           | standard     | none                    | 83         | 78            | 73            |
| 276 | female | group C        | some high school            | standard     | completed               | 85         | 92            | 93            |
| 277 | female | group E        | high school                 | standard     | completed               | 59         | 63            | 75            |
| 278 | female | group C        | some high school            | free/reduced | none                    | 65         | 86            | 80            |
| 279 | male   | group B        | bachelor's degree           | free/reduced | none                    | 73         | 56            | 57            |
| 280 | male   | group D        | high school                 | standard     | none                    | 53         | 52            | 42            |
| 281 | male   | group D        | high school                 | standard     | none                    | 45         | 48            | 46            |
| 282 | female | group D        | bachelor's degree           | free/reduced | none                    | 73         | 79            | 84            |
| 283 | female | group D        | some college                | free/reduced | completed               | 70         | 78            | 78            |
| 284 | female | group B        | some high school            | standard     | none                    | 37         | 46            | 46            |
| 285 | male   | group B        | associate's degree          | standard     | completed               | 81         | 82            | 82            |
| 286 | male   | group E        | associate's degree          | standard     | completed               | 97         | 82            | 88            |
| 287 | female | group B        | some high school            | standard     | none                    | 67         | 89            | 82            |
| 288 | male   | group B        | bachelor's degree           | free/reduced | none                    | 88         | 75            | 76            |
| 289 | male   | group E        | some high school            | standard     | completed               | 77         | 76            | 77            |
| 290 | male   | group C        | associate's degree          | standard     | none                    | 76         | 70            | 68            |
| 291 | male   | group D        | some high school            | standard     | none                    | 86         | 73            | 70            |
| 292 | male   | group C        | some high school            | standard     | completed               | 63         | 60            | 57            |
| 293 | female | group E        | bachelor's degree           | standard     | none                    | 65         | 73            | 75            |
| 294 | male   | group D        | high school                 | free/reduced | completed               | 78         | 77            | 80            |
| 295 | male   | group B        | associate's degree          | free/reduced | none                    | 67         | 62            | 60            |
| 296 | male   | group A        | some high school            | standard     | completed               | 46         | 41            | 43            |
| 297 | male   | group E        | associate's degree          | standard     | completed               | 71         | 74            | 68            |
| 298 | male   | group C        | high school                 | free/reduced | completed               | 40         | 46            | 50            |
| 299 | male   | group D        | associate's degree          | free/reduced | none                    | 90         | 87            | 75            |
| 300 | male   | group A        | some college                | free/reduced | completed               | 81         | 78            | 81            |
| 301 | male   | group D        | some high school            | free/reduced | none                    | 56         | 54            | 52            |
| 302 | female | group C        | associate's degree          | standard     | completed               | 67         | 84            | 81            |
| 303 | male   | group B        | associate's degree          | standard     | none                    | 80         | 76            | 64            |
| 304 | female | group C        | associate's degree          | standard     | completed               | 74         | 75            | 83            |
| 305 | male   | group A        | some college                | standard     | none                    | 69         | 67            | 69            |
| 306 | male   | group E        | some college                | standard     | completed               | 99         | 87            | 81            |
| 307 | male   | group C        | some high school            | standard     | none                    | 51         | 52            | 44            |
| 308 | female | group B        | associate's degree          | free/reduced | none                    | 53         | 71            | 67            |
| 309 | female | group D        | high school                 | free/reduced | none                    | 49         | 57            | 52            |
| 310 | female | group B        | associate's degree          | standard     | none                    | 73         | 76            | 80            |
| 311 | male   | group B        | bachelor's degree           | standard     | none                    | 66         | 60            | 57            |
| 312 | male   | group D        | bachelor's degree           | standard     | completed               | 67         | 61            | 68            |
| 313 | female | group C        | associate's degree          | free/reduced | completed               | 68         | 67            | 69            |
| 314 | female | group C        | bachelor's degree           | standard     | completed               | 59         | 64            | 75            |
| 315 | male   | group C        | high school                 | standard     | none                    | 71         | 66            | 65            |
| 316 | female | group D        | master's degree             | standard     | completed               | 77         | 82            | 91            |
| 317 | male   | group C        | associate's degree          | standard     | none                    | 83         | 72            | 78            |
| 318 | male   | group B        | bachelor's degree           | standard     | none                    | 63         | 71            | 69            |
| 319 | female | group D        | associate's degree          | free/reduced | none                    | 56         | 65            | 63            |
| 320 | female | group C        | high school                 | free/reduced | completed               | 67         | 79            | 84            |
| 321 | female | group E        | high school                 | standard     | none                    | 75         | 86            | 79            |
| 322 | female | group C        | some college                | standard     | none                    | 71         | 81            | 80            |
| 323 | female | group C        | some high school            | free/reduced | none                    | 43         | 53            | 53            |
| 324 | female | group C        | high school                 | free/reduced | none                    | 41         | 46            | 43            |
| 325 | female | group C        | some college                | standard     | none                    | 82         | 90            | 94            |
| 326 | male   | group C        | some college                | standard     | none                    | 61         | 61            | 62            |
| 327 | male   | group A        | some college                | free/reduced | none                    | 28         | 23            | 19            |
| 328 | male   | group C        | associate's degree          | standard     | completed               | 82         | 75            | 77            |
| 329 | female | group B        | some high school            | standard     | none                    | 41         | 55            | 51            |
| 330 | male   | group C        | high school                 | standard     | none                    | 71         | 60            | 61            |
| 331 | male   | group C        | associate's degree          | standard     | none                    | 47         | 37            | 35            |
| 332 | male   | group E        | associate's degree          | standard     | completed               | 62         | 56            | 53            |
| 333 | male   | group B        | associate's degree          | standard     | none                    | 90         | 78            | 81            |
| 334 | female | group C        | bachelor's degree           | standard     | none                    | 83         | 93            | 95            |
| 335 | female | group B        | some college                | free/reduced | none                    | 61         | 68            | 66            |
| 336 | male   | group D        | some high school            | standard     | completed               | 76         | 70            | 69            |
| 337 | male   | group C        | associate's degree          | standard     | none                    | 49         | 51            | 43            |
| 338 | female | group B        | some high school            | free/reduced | none                    | 24         | 38            | 27            |
| 339 | female | group D        | some high school            | free/reduced | completed               | 35         | 55            | 60            |
| 340 | male   | group C        | high school                 | free/reduced | none                    | 58         | 61            | 52            |
| 341 | female | group C        | high school                 | standard     | none                    | 61         | 73            | 63            |
| 342 | female | group B        | high school                 | standard     | completed               | 69         | 76            | 74            |
| 343 | male   | group D        | associate's degree          | standard     | completed               | 67         | 72            | 67            |
| 344 | male   | group D        | some college                | standard     | none                    | 79         | 73            | 67            |
| 345 | female | group C        | high school                 | standard     | none                    | 72         | 80            | 75            |
| 346 | male   | group B        | some college                | standard     | none                    | 62         | 61            | 57            |
| 347 | female | group C        | bachelor's degree           | standard     | completed               | 77         | 94            | 95            |
| 348 | male   | group D        | high school                 | free/reduced | none                    | 75         | 74            | 66            |
| 349 | male   | group E        | associate's degree          | standard     | none                    | 87         | 74            | 76            |
| 350 | female | group B        | bachelor's degree           | standard     | none                    | 52         | 65            | 69            |
| 351 | male   | group E        | some college                | standard     | none                    | 66         | 57            | 52            |
| 352 | female | group C        | some college                | standard     | completed               | 63         | 78            | 80            |
| 353 | female | group C        | associate's degree          | standard     | none                    | 46         | 58            | 57            |
| 354 | female | group C        | some college                | standard     | none                    | 59         | 71            | 70            |
| 355 | female | group B        | bachelor's degree           | standard     | none                    | 61         | 72            | 70            |
| 356 | male   | group A        | associate's degree          | standard     | none                    | 63         | 61            | 61            |
| 357 | female | group C        | some college                | free/reduced | completed               | 42         | 66            | 69            |
| 358 | male   | group D        | some college                | free/reduced | none                    | 59         | 62            | 61            |
| 359 | female | group D        | some college                | standard     | none                    | 80         | 90            | 89            |
| 360 | female | group B        | high school                 | standard     | none                    | 58         | 62            | 59            |
| 361 | male   | group B        | some high school            | standard     | completed               | 85         | 84            | 78            |
| 362 | female | group C        | some college                | standard     | none                    | 52         | 58            | 58            |
| 363 | female | group D        | some high school            | free/reduced | none                    | 27         | 34            | 32            |
| 364 | male   | group C        | some college                | standard     | none                    | 59         | 60            | 58            |
| 365 | male   | group A        | bachelor's degree           | free/reduced | completed               | 49         | 58            | 60            |
| 366 | male   | group C        | high school                 | standard     | completed               | 69         | 58            | 53            |
| 367 | male   | group C        | bachelor's degree           | free/reduced | none                    | 61         | 66            | 61            |
| 368 | female | group A        | some high school            | free/reduced | none                    | 44         | 64            | 58            |
| 369 | female | group D        | some high school            | standard     | none                    | 73         | 84            | 85            |
| 370 | male   | group E        | some college                | standard     | none                    | 84         | 77            | 71            |
| 371 | female | group C        | some college                | free/reduced | completed               | 45         | 73            | 70            |
| 372 | male   | group D        | some high school            | standard     | none                    | 74         | 74            | 72            |
| 373 | female | group D        | some college                | standard     | completed               | 82         | 97            | 96            |
| 374 | female | group D        | bachelor's degree           | standard     | none                    | 59         | 70            | 73            |
| 375 | male   | group E        | associate's degree          | free/reduced | none                    | 46         | 43            | 41            |
| 376 | female | group D        | some high school            | standard     | none                    | 80         | 90            | 82            |
| 377 | female | group D        | master's degree             | free/reduced | completed               | 85         | 95            | 100           |
| 378 | female | group A        | some high school            | standard     | none                    | 71         | 83            | 77            |
| 379 | male   | group A        | bachelor's degree           | standard     | none                    | 66         | 64            | 62            |
| 380 | female | group B        | associate's degree          | standard     | none                    | 80         | 86            | 83            |
| 381 | male   | group C        | associate's degree          | standard     | completed               | 87         | 100           | 95            |
| 382 | male   | group C        | master's degree             | free/reduced | none                    | 79         | 81            | 71            |
| 383 | female | group E        | some high school            | free/reduced | none                    | 38         | 49            | 45            |
| 384 | female | group A        | some high school            | free/reduced | none                    | 38         | 43            | 43            |
| 385 | female | group E        | some college                | standard     | none                    | 67         | 76            | 75            |
| 386 | female | group E        | bachelor's degree           | standard     | none                    | 64         | 73            | 70            |
| 387 | female | group C        | associate's degree          | free/reduced | none                    | 57         | 78            | 67            |
| 388 | female | group D        | high school                 | standard     | none                    | 62         | 64            | 64            |
| 389 | male   | group D        | master's degree             | standard     | none                    | 73         | 70            | 75            |
| 390 | male   | group E        | some high school            | free/reduced | completed               | 73         | 67            | 59            |
| 391 | female | group D        | some college                | standard     | none                    | 77         | 68            | 77            |
| 392 | male   | group E        | some college                | standard     | none                    | 76         | 67            | 67            |
| 393 | male   | group C        | associate's degree          | standard     | completed               | 57         | 54            | 56            |
| 394 | female | group C        | some high school            | standard     | completed               | 65         | 74            | 77            |
| 395 | male   | group A        | high school                 | free/reduced | none                    | 48         | 45            | 41            |
| 396 | female | group B        | high school                 | free/reduced | none                    | 50         | 67            | 63            |
| 397 | female | group C        | associate's degree          | standard     | none                    | 85         | 89            | 95            |
| 398 | male   | group B        | some high school            | standard     | none                    | 74         | 63            | 57            |
| 399 | male   | group D        | some high school            | standard     | none                    | 60         | 59            | 54            |
| 400 | female | group C        | some high school            | standard     | completed               | 59         | 54            | 67            |
| 401 | male   | group A        | some college                | standard     | none                    | 53         | 43            | 43            |
| 402 | female | group A        | some college                | free/reduced | none                    | 49         | 65            | 55            |
| 403 | female | group D        | high school                 | standard     | completed               | 88         | 99            | 100           |
| 404 | female | group C        | high school                 | standard     | none                    | 54         | 59            | 62            |
| 405 | female | group C        | some high school            | standard     | none                    | 63         | 73            | 68            |
| 406 | male   | group B        | associate's degree          | standard     | completed               | 65         | 65            | 63            |
| 407 | female | group B        | associate's degree          | standard     | none                    | 82         | 80            | 77            |
| 408 | female | group D        | high school                 | free/reduced | completed               | 52         | 57            | 56            |
| 409 | male   | group D        | associate's degree          | standard     | completed               | 87         | 84            | 85            |
| 410 | female | group D        | master's degree             | standard     | completed               | 70         | 71            | 74            |
| 411 | male   | group E        | some college                | standard     | completed               | 84         | 83            | 78            |
| 412 | male   | group D        | associate's degree          | standard     | none                    | 71         | 66            | 60            |
| 413 | male   | group B        | some high school            | standard     | completed               | 63         | 67            | 67            |
| 414 | female | group C        | bachelor's degree           | free/reduced | completed               | 51         | 72            | 79            |
| 415 | male   | group E        | high school                 | standard     | none                    | 84         | 73            | 69            |
| 416 | male   | group C        | bachelor's degree           | standard     | completed               | 71         | 74            | 68            |
| 417 | male   | group C        | associate's degree          | standard     | none                    | 74         | 73            | 67            |
| 418 | male   | group D        | some college                | standard     | none                    | 68         | 59            | 62            |
| 419 | male   | group E        | high school                 | free/reduced | completed               | 57         | 56            | 54            |
| 420 | female | group C        | associate's degree          | free/reduced | completed               | 82         | 93            | 93            |
| 421 | female | group D        | high school                 | standard     | completed               | 57         | 58            | 64            |
| 422 | female | group D        | master's degree             | free/reduced | completed               | 47         | 58            | 67            |
| 423 | female | group A        | some high school            | standard     | completed               | 59         | 85            | 80            |
| 424 | male   | group B        | some college                | free/reduced | none                    | 41         | 39            | 34            |
| 425 | female | group C        | some college                | free/reduced | none                    | 62         | 67            | 62            |
| 426 | male   | group C        | bachelor's degree           | standard     | none                    | 86         | 83            | 86            |
| 427 | male   | group C        | some high school            | free/reduced | none                    | 69         | 71            | 65            |
| 428 | male   | group A        | some high school            | free/reduced | none                    | 65         | 59            | 53            |
| 429 | male   | group C        | some high school            | free/reduced | none                    | 68         | 63            | 54            |
| 430 | male   | group C        | associate's degree          | free/reduced | none                    | 64         | 66            | 59            |
| 431 | female | group C        | high school                 | standard     | none                    | 61         | 72            | 70            |
| 432 | male   | group C        | high school                 | standard     | none                    | 61         | 56            | 55            |
| 433 | female | group A        | some high school            | free/reduced | none                    | 47         | 59            | 50            |
| 434 | male   | group C        | some high school            | standard     | none                    | 73         | 66            | 66            |
| 435 | male   | group C        | some college                | free/reduced | completed               | 50         | 48            | 53            |
| 436 | male   | group D        | associate's degree          | standard     | none                    | 75         | 68            | 64            |
| 437 | male   | group D        | associate's degree          | free/reduced | none                    | 75         | 66            | 73            |
| 438 | male   | group C        | high school                 | standard     | none                    | 70         | 56            | 51            |
| 439 | male   | group D        | some high school            | standard     | completed               | 89         | 88            | 82            |
| 440 | female | group C        | some college                | standard     | completed               | 67         | 81            | 79            |
| 441 | female | group D        | high school                 | standard     | none                    | 78         | 81            | 80            |
| 442 | female | group A        | some high school            | free/reduced | none                    | 59         | 73            | 69            |
| 443 | female | group B        | associate's degree          | standard     | none                    | 73         | 83            | 76            |
| 444 | male   | group A        | some high school            | free/reduced | none                    | 79         | 82            | 73            |
| 445 | female | group C        | some high school            | standard     | completed               | 67         | 74            | 77            |
| 446 | male   | group D        | some college                | free/reduced | none                    | 69         | 66            | 60            |
| 447 | male   | group C        | high school                 | standard     | completed               | 86         | 81            | 80            |
| 448 | male   | group B        | high school                 | standard     | none                    | 47         | 46            | 42            |
| 449 | male   | group B        | associate's degree          | standard     | none                    | 81         | 73            | 72            |
| 450 | female | group C        | some college                | free/reduced | completed               | 64         | 85            | 85            |
| 451 | female | group E        | some college                | standard     | none                    | 100        | 92            | 97            |
| 452 | female | group C        | associate's degree          | free/reduced | none                    | 65         | 77            | 74            |
| 453 | male   | group C        | some college                | free/reduced | none                    | 65         | 58            | 49            |
| 454 | female | group C        | associate's degree          | free/reduced | none                    | 53         | 61            | 62            |
| 455 | male   | group C        | bachelor's degree           | free/reduced | none                    | 37         | 56            | 47            |
| 456 | female | group D        | bachelor's degree           | standard     | none                    | 79         | 89            | 89            |
| 457 | male   | group D        | associate's degree          | free/reduced | none                    | 53         | 54            | 48            |
| 458 | female | group E        | bachelor's degree           | standard     | none                    | 100        | 100           | 100           |
| 459 | male   | group B        | high school                 | standard     | completed               | 72         | 65            | 68            |
| 460 | male   | group C        | bachelor's degree           | free/reduced | none                    | 53         | 58            | 55            |
| 461 | male   | group B        | some college                | free/reduced | none                    | 54         | 54            | 45            |
| 462 | female | group E        | some college                | standard     | none                    | 71         | 70            | 76            |
| 463 | female | group C        | some college                | free/reduced | none                    | 77         | 90            | 91            |
| 464 | male   | group A        | bachelor's degree           | standard     | completed               | 75         | 58            | 62            |
| 465 | female | group C        | some college                | standard     | none                    | 84         | 87            | 91            |
| 466 | female | group D        | associate's degree          | free/reduced | none                    | 26         | 31            | 38            |
| 467 | male   | group A        | high school                 | free/reduced | completed               | 72         | 67            | 65            |
| 468 | female | group A        | high school                 | free/reduced | completed               | 77         | 88            | 85            |
| 469 | male   | group C        | some college                | standard     | none                    | 91         | 74            | 76            |
| 470 | female | group C        | associate's degree          | standard     | completed               | 83         | 85            | 90            |
| 471 | female | group C        | high school                 | standard     | none                    | 63         | 69            | 74            |
| 472 | female | group C        | associate's degree          | standard     | completed               | 68         | 86            | 84            |
| 473 | female | group D        | some high school            | standard     | none                    | 59         | 67            | 61            |
| 474 | female | group B        | associate's degree          | standard     | completed               | 90         | 90            | 91            |
| 475 | female | group D        | bachelor's degree           | standard     | completed               | 71         | 76            | 83            |
| 476 | male   | group E        | bachelor's degree           | standard     | completed               | 76         | 62            | 66            |
| 477 | male   | group D        | associate's degree          | standard     | none                    | 80         | 68            | 72            |
| 478 | female | group D        | master's degree             | standard     | none                    | 55         | 64            | 70            |
| 479 | male   | group E        | associate's degree          | standard     | none                    | 76         | 71            | 67            |
| 480 | male   | group B        | high school                 | standard     | completed               | 73         | 71            | 68            |
| 481 | female | group D        | associate's degree          | free/reduced | none                    | 52         | 59            | 56            |
| 482 | male   | group C        | some college                | free/reduced | none                    | 68         | 68            | 61            |
| 483 | male   | group A        | high school                 | standard     | none                    | 59         | 52            | 46            |
| 484 | female | group B        | associate's degree          | standard     | none                    | 49         | 52            | 54            |
| 485 | male   | group C        | high school                 | standard     | none                    | 70         | 74            | 71            |
| 486 | male   | group D        | some college                | free/reduced | none                    | 61         | 47            | 56            |
| 487 | female | group C        | associate's degree          | free/reduced | none                    | 60         | 75            | 74            |
| 488 | male   | group B        | some high school            | standard     | completed               | 64         | 53            | 57            |
| 489 | male   | group A        | associate's degree          | free/reduced | completed               | 79         | 82            | 82            |
| 490 | female | group A        | associate's degree          | free/reduced | none                    | 65         | 85            | 76            |
| 491 | female | group C        | associate's degree          | standard     | none                    | 64         | 64            | 70            |
| 492 | female | group C        | some college                | standard     | none                    | 83         | 83            | 90            |
| 493 | female | group C        | bachelor's degree           | standard     | none                    | 81         | 88            | 90            |
| 494 | female | group B        | high school                 | standard     | none                    | 54         | 64            | 68            |
| 495 | male   | group D        | high school                 | standard     | completed               | 68         | 64            | 66            |
| 496 | female | group C        | some college                | standard     | none                    | 54         | 48            | 52            |
| 497 | female | group D        | some college                | free/reduced | completed               | 59         | 78            | 76            |
| 498 | female | group B        | some high school            | standard     | none                    | 66         | 69            | 68            |
| 499 | male   | group E        | some college                | standard     | none                    | 76         | 71            | 72            |
| 500 | female | group D        | master's degree             | standard     | none                    | 74         | 79            | 82            |
| 501 | female | group B        | associate's degree          | standard     | completed               | 94         | 87            | 92            |
| 502 | male   | group C        | some college                | free/reduced | none                    | 63         | 61            | 54            |
| 503 | female | group E        | associate's degree          | standard     | completed               | 95         | 89            | 92            |
| 504 | female | group D        | master's degree             | free/reduced | none                    | 40         | 59            | 54            |
| 505 | female | group B        | some high school            | standard     | none                    | 82         | 82            | 80            |
| 506 | male   | group A        | high school                 | standard     | none                    | 68         | 70            | 66            |
| 507 | male   | group B        | bachelor's degree           | free/reduced | none                    | 55         | 59            | 54            |
| 508 | male   | group C        | master's degree             | standard     | none                    | 79         | 78            | 77            |
| 509 | female | group C        | bachelor's degree           | standard     | none                    | 86         | 92            | 87            |
| 510 | male   | group D        | some college                | standard     | none                    | 76         | 71            | 73            |
| 511 | male   | group A        | some high school            | standard     | none                    | 64         | 50            | 43            |
| 512 | male   | group D        | some high school            | free/reduced | none                    | 62         | 49            | 52            |
| 513 | female | group B        | some high school            | standard     | completed               | 54         | 61            | 62            |
| 514 | female | group B        | master's degree             | free/reduced | completed               | 77         | 97            | 94            |
| 515 | female | group C        | some high school            | standard     | completed               | 76         | 87            | 85            |
| 516 | female | group D        | some college                | standard     | none                    | 74         | 89            | 84            |
| 517 | female | group E        | some college                | standard     | completed               | 66         | 74            | 73            |
| 518 | female | group D        | some high school            | standard     | completed               | 66         | 78            | 78            |
| 519 | female | group B        | high school                 | free/reduced | completed               | 67         | 78            | 79            |
| 520 | male   | group D        | some college                | standard     | none                    | 71         | 49            | 52            |
| 521 | female | group C        | associate's degree          | standard     | none                    | 91         | 86            | 84            |
| 522 | male   | group D        | bachelor's degree           | standard     | none                    | 69         | 58            | 57            |
| 523 | male   | group C        | master's degree             | free/reduced | none                    | 54         | 59            | 50            |
| 524 | male   | group C        | high school                 | standard     | completed               | 53         | 52            | 49            |
| 525 | male   | group E        | some college                | standard     | none                    | 68         | 60            | 59            |
| 526 | male   | group C        | some high school            | free/reduced | completed               | 56         | 61            | 60            |
| 527 | female | group C        | high school                 | free/reduced | none                    | 36         | 53            | 43            |
| 528 | female | group D        | bachelor's degree           | free/reduced | none                    | 29         | 41            | 47            |
| 529 | female | group C        | associate's degree          | standard     | none                    | 62         | 74            | 70            |
| 530 | female | group C        | associate's degree          | standard     | completed               | 68         | 67            | 73            |
| 531 | female | group C        | some high school            | standard     | none                    | 47         | 54            | 53            |
| 532 | male   | group E        | associate's degree          | standard     | completed               | 62         | 61            | 58            |
| 533 | female | group E        | associate's degree          | standard     | completed               | 79         | 88            | 94            |
| 534 | male   | group B        | high school                 | standard     | completed               | 73         | 69            | 68            |
| 535 | female | group C        | bachelor's degree           | free/reduced | completed               | 66         | 83            | 83            |
| 536 | male   | group C        | associate's degree          | standard     | completed               | 51         | 60            | 58            |
| 537 | female | group D        | high school                 | standard     | none                    | 51         | 66            | 62            |
| 538 | male   | group E        | bachelor's degree           | standard     | completed               | 85         | 66            | 71            |
| 539 | male   | group A        | associate's degree          | standard     | completed               | 97         | 92            | 86            |
| 540 | male   | group C        | high school                 | standard     | completed               | 75         | 69            | 68            |
| 541 | male   | group D        | associate's degree          | free/reduced | completed               | 79         | 82            | 80            |
| 542 | female | group C        | associate's degree          | standard     | none                    | 81         | 77            | 79            |
| 543 | female | group D        | associate's degree          | standard     | none                    | 82         | 95            | 89            |
| 544 | female | group D        | master's degree             | standard     | none                    | 64         | 63            | 66            |
| 545 | male   | group E        | some high school            | free/reduced | completed               | 78         | 83            | 80            |
| 546 | female | group A        | some high school            | standard     | completed               | 92         | 100           | 97            |
| 547 | male   | group C        | high school                 | standard     | completed               | 72         | 67            | 64            |
| 548 | female | group C        | high school                 | free/reduced | none                    | 62         | 67            | 64            |
| 549 | male   | group C        | master's degree             | standard     | none                    | 79         | 72            | 69            |
| 550 | male   | group C        | some high school            | free/reduced | none                    | 79         | 76            | 65            |
| 551 | male   | group B        | bachelor's degree           | free/reduced | completed               | 87         | 90            | 88            |
| 552 | female | group B        | associate's degree          | standard     | none                    | 40         | 48            | 50            |
| 553 | male   | group D        | some college                | free/reduced | none                    | 77         | 62            | 64            |
| 554 | male   | group E        | associate's degree          | standard     | none                    | 53         | 45            | 40            |
| 555 | female | group C        | some college                | free/reduced | none                    | 32         | 39            | 33            |
| 556 | female | group C        | associate's degree          | standard     | completed               | 55         | 72            | 79            |
| 557 | male   | group C        | master's degree             | free/reduced | none                    | 61         | 67            | 66            |
| 558 | female | group B        | associate's degree          | free/reduced | none                    | 53         | 70            | 70            |
| 559 | male   | group D        | some high school            | standard     | none                    | 73         | 66            | 62            |
| 560 | female | group D        | some college                | standard     | completed               | 74         | 75            | 79            |
| 561 | female | group C        | some college                | standard     | none                    | 63         | 74            | 74            |
| 562 | male   | group C        | bachelor's degree           | standard     | completed               | 96         | 90            | 92            |
| 563 | female | group D        | some college                | free/reduced | completed               | 63         | 80            | 80            |
| 564 | male   | group B        | bachelor's degree           | free/reduced | none                    | 48         | 51            | 46            |
| 565 | male   | group B        | associate's degree          | standard     | none                    | 48         | 43            | 45            |
| 566 | female | group E        | bachelor's degree           | free/reduced | completed               | 92         | 100           | 100           |
| 567 | female | group D        | master's degree             | free/reduced | completed               | 61         | 71            | 78            |
| 568 | male   | group B        | high school                 | free/reduced | none                    | 63         | 48            | 47            |
| 569 | male   | group D        | bachelor's degree           | free/reduced | none                    | 68         | 68            | 67            |
| 570 | male   | group B        | some college                | standard     | completed               | 71         | 75            | 70            |
| 571 | male   | group A        | bachelor's degree           | standard     | none                    | 91         | 96            | 92            |
| 572 | female | group C        | some college                | standard     | none                    | 53         | 62            | 56            |
| 573 | female | group C        | high school                 | free/reduced | completed               | 50         | 66            | 64            |
| 574 | female | group E        | high school                 | standard     | none                    | 74         | 81            | 71            |
| 575 | male   | group A        | associate's degree          | free/reduced | completed               | 40         | 55            | 53            |
| 576 | male   | group A        | some college                | standard     | completed               | 61         | 51            | 52            |
| 577 | female | group B        | high school                 | standard     | none                    | 81         | 91            | 89            |
| 578 | female | group B        | some college                | free/reduced | completed               | 48         | 56            | 58            |
| 579 | female | group D        | master's degree             | standard     | none                    | 53         | 61            | 68            |
| 580 | female | group D        | some high school            | standard     | none                    | 81         | 97            | 96            |
| 581 | female | group E        | some high school            | standard     | none                    | 77         | 79            | 80            |
| 582 | female | group D        | bachelor's degree           | free/reduced | none                    | 63         | 73            | 78            |
| 583 | female | group D        | associate's degree          | standard     | completed               | 73         | 75            | 80            |
| 584 | female | group D        | some college                | standard     | none                    | 69         | 77            | 77            |
| 585 | female | group C        | associate's degree          | standard     | none                    | 65         | 76            | 76            |
| 586 | female | group A        | high school                 | standard     | none                    | 55         | 73            | 73            |
| 587 | female | group C        | bachelor's degree           | free/reduced | none                    | 44         | 63            | 62            |
| 588 | female | group C        | some college                | standard     | none                    | 54         | 64            | 65            |
| 589 | female | group A        | some high school            | standard     | none                    | 48         | 66            | 65            |
| 590 | male   | group C        | some college                | free/reduced | none                    | 58         | 57            | 54            |
| 591 | male   | group A        | some high school            | standard     | none                    | 71         | 62            | 50            |
| 592 | male   | group E        | bachelor's degree           | standard     | none                    | 68         | 68            | 64            |
| 593 | female | group E        | high school                 | standard     | none                    | 74         | 76            | 73            |
| 594 | female | group C        | bachelor's degree           | standard     | completed               | 92         | 100           | 99            |
| 595 | female | group C        | bachelor's degree           | standard     | completed               | 56         | 79            | 72            |
| 596 | male   | group B        | high school                 | free/reduced | none                    | 30         | 24            | 15            |
| 597 | male   | group A        | some high school            | standard     | none                    | 53         | 54            | 48            |
| 598 | female | group D        | high school                 | standard     | none                    | 69         | 77            | 73            |
| 599 | female | group D        | some high school            | standard     | none                    | 65         | 82            | 81            |
| 600 | female | group D        | master's degree             | standard     | none                    | 54         | 60            | 63            |
| 601 | female | group C        | high school                 | standard     | none                    | 29         | 29            | 30            |
| 602 | female | group E        | some college                | standard     | none                    | 76         | 78            | 80            |
| 603 | male   | group D        | high school                 | free/reduced | none                    | 60         | 57            | 51            |
| 604 | male   | group D        | master's degree             | free/reduced | completed               | 84         | 89            | 90            |
| 605 | male   | group C        | some high school            | standard     | none                    | 75         | 72            | 62            |
| 606 | female | group C        | associate's degree          | standard     | none                    | 85         | 84            | 82            |
| 607 | female | group C        | master's degree             | free/reduced | none                    | 40         | 58            | 54            |
| 608 | female | group E        | some college                | standard     | none                    | 61         | 64            | 62            |
| 609 | female | group B        | associate's degree          | standard     | none                    | 58         | 63            | 65            |
| 610 | male   | group D        | some college                | free/reduced | completed               | 69         | 60            | 63            |
| 611 | female | group C        | some college                | standard     | none                    | 58         | 59            | 66            |
| 612 | male   | group C        | bachelor's degree           | standard     | completed               | 94         | 90            | 91            |
| 613 | female | group C        | associate's degree          | standard     | none                    | 65         | 77            | 74            |
| 614 | female | group A        | associate's degree          | standard     | none                    | 82         | 93            | 93            |
| 615 | female | group C        | high school                 | standard     | none                    | 60         | 68            | 72            |
| 616 | female | group E        | bachelor's degree           | standard     | none                    | 37         | 45            | 38            |
| 617 | male   | group D        | bachelor's degree           | standard     | none                    | 88         | 78            | 83            |
| 618 | male   | group D        | master's degree             | standard     | none                    | 95         | 81            | 84            |
| 619 | male   | group C        | associate's degree          | free/reduced | completed               | 65         | 73            | 68            |
| 620 | female | group C        | high school                 | free/reduced | none                    | 35         | 61            | 54            |
| 621 | male   | group B        | bachelor's degree           | free/reduced | none                    | 62         | 63            | 56            |
| 622 | male   | group C        | high school                 | free/reduced | completed               | 58         | 51            | 52            |
| 623 | male   | group A        | some college                | standard     | completed               | 100        | 96            | 86            |
| 624 | female | group E        | bachelor's degree           | free/reduced | none                    | 61         | 58            | 62            |
| 625 | male   | group D        | some college                | standard     | completed               | 100        | 97            | 99            |
| 626 | male   | group B        | associate's degree          | free/reduced | completed               | 69         | 70            | 63            |
| 627 | male   | group D        | associate's degree          | standard     | none                    | 61         | 48            | 46            |
| 628 | male   | group D        | some college                | free/reduced | none                    | 49         | 57            | 46            |
| 629 | female | group C        | some high school            | standard     | completed               | 44         | 51            | 55            |
| 630 | male   | group D        | some college                | standard     | none                    | 67         | 64            | 70            |
| 631 | male   | group B        | high school                 | standard     | none                    | 79         | 60            | 65            |
| 632 | female | group B        | bachelor's degree           | standard     | completed               | 66         | 74            | 81            |
| 633 | female | group C        | high school                 | standard     | none                    | 75         | 88            | 85            |
| 634 | male   | group D        | some high school            | standard     | none                    | 84         | 84            | 80            |
| 635 | male   | group A        | high school                 | standard     | none                    | 71         | 74            | 64            |
| 636 | female | group B        | high school                 | free/reduced | completed               | 67         | 80            | 81            |
| 637 | female | group D        | some high school            | standard     | completed               | 80         | 92            | 88            |
| 638 | male   | group E        | some college                | standard     | none                    | 86         | 76            | 74            |
| 639 | female | group D        | associate's degree          | standard     | none                    | 76         | 74            | 73            |
| 640 | male   | group D        | high school                 | standard     | none                    | 41         | 52            | 51            |
| 641 | female | group D        | associate's degree          | free/reduced | completed               | 74         | 88            | 90            |
| 642 | female | group B        | some high school            | free/reduced | none                    | 72         | 81            | 79            |
| 643 | female | group E        | high school                 | standard     | completed               | 74         | 79            | 80            |
| 644 | male   | group B        | high school                 | standard     | none                    | 70         | 65            | 60            |
| 645 | female | group B        | bachelor's degree           | standard     | completed               | 65         | 81            | 81            |
| 646 | female | group D        | associate's degree          | standard     | none                    | 59         | 70            | 65            |
| 647 | female | group E        | high school                 | free/reduced | none                    | 64         | 62            | 68            |
| 648 | female | group B        | high school                 | standard     | none                    | 50         | 53            | 55            |
| 649 | female | group D        | some college                | standard     | completed               | 69         | 79            | 81            |
| 650 | male   | group C        | some high school            | free/reduced | completed               | 51         | 56            | 53            |
| 651 | female | group A        | high school                 | standard     | completed               | 68         | 80            | 76            |
| 652 | female | group D        | some college                | standard     | completed               | 85         | 86            | 98            |
| 653 | female | group A        | associate's degree          | standard     | completed               | 65         | 70            | 74            |
| 654 | female | group B        | some high school            | standard     | none                    | 73         | 79            | 79            |
| 655 | female | group B        | some college                | standard     | none                    | 62         | 67            | 67            |
| 656 | male   | group C        | associate's degree          | free/reduced | none                    | 77         | 67            | 64            |
| 657 | male   | group D        | some high school            | standard     | none                    | 69         | 66            | 61            |
| 658 | female | group D        | associate's degree          | free/reduced | none                    | 43         | 60            | 58            |
| 659 | male   | group D        | associate's degree          | standard     | none                    | 90         | 87            | 85            |
| 660 | male   | group C        | some college                | free/reduced | none                    | 74         | 77            | 73            |
| 661 | male   | group C        | some high school            | standard     | none                    | 73         | 66            | 63            |
| 662 | female | group D        | some college                | free/reduced | none                    | 55         | 71            | 69            |
| 663 | female | group C        | high school                 | standard     | none                    | 65         | 69            | 67            |
| 664 | male   | group D        | associate's degree          | standard     | none                    | 80         | 63            | 63            |
| 665 | female | group C        | some high school            | free/reduced | completed               | 50         | 60            | 60            |
| 666 | female | group C        | some college                | free/reduced | completed               | 63         | 73            | 71            |
| 667 | female | group B        | bachelor's degree           | free/reduced | none                    | 77         | 85            | 87            |
| 668 | male   | group C        | some college                | standard     | none                    | 73         | 74            | 61            |
| 669 | male   | group D        | associate's degree          | standard     | completed               | 81         | 72            | 77            |
| 670 | female | group C        | high school                 | free/reduced | none                    | 66         | 76            | 68            |
| 671 | male   | group D        | associate's degree          | free/reduced | none                    | 52         | 57            | 50            |
| 672 | female | group C        | some college                | standard     | none                    | 69         | 78            | 76            |
| 673 | female | group C        | associate's degree          | standard     | completed               | 65         | 84            | 84            |
| 674 | female | group D        | high school                 | standard     | completed               | 69         | 77            | 78            |
| 675 | female | group B        | some college                | standard     | completed               | 50         | 64            | 66            |
| 676 | female | group E        | some college                | standard     | completed               | 73         | 78            | 76            |
| 677 | female | group C        | some high school            | standard     | completed               | 70         | 82            | 76            |
| 678 | male   | group D        | associate's degree          | free/reduced | none                    | 81         | 75            | 78            |
| 679 | male   | group D        | some college                | free/reduced | none                    | 63         | 61            | 60            |
| 680 | female | group D        | high school                 | standard     | none                    | 67         | 72            | 74            |
| 681 | male   | group B        | high school                 | standard     | none                    | 60         | 68            | 60            |
| 682 | male   | group B        | high school                 | standard     | none                    | 62         | 55            | 54            |
| 683 | female | group C        | some high school            | free/reduced | completed               | 29         | 40            | 44            |
| 684 | male   | group B        | some college                | standard     | completed               | 62         | 66            | 68            |
| 685 | female | group E        | master's degree             | standard     | completed               | 94         | 99            | 100           |
| 686 | male   | group E        | some college                | standard     | completed               | 85         | 75            | 68            |
| 687 | male   | group D        | associate's degree          | free/reduced | none                    | 77         | 78            | 73            |
| 688 | male   | group A        | high school                 | free/reduced | none                    | 53         | 58            | 44            |
| 689 | male   | group E        | some college                | free/reduced | none                    | 93         | 90            | 83            |
| 690 | female | group C        | associate's degree          | standard     | none                    | 49         | 53            | 53            |
| 691 | female | group E        | associate's degree          | free/reduced | none                    | 73         | 76            | 78            |
| 692 | female | group C        | bachelor's degree           | free/reduced | completed               | 66         | 74            | 81            |
| 693 | female | group D        | associate's degree          | standard     | none                    | 77         | 77            | 73            |
| 694 | female | group C        | some high school            | standard     | none                    | 49         | 63            | 56            |
| 695 | female | group D        | some college                | free/reduced | none                    | 79         | 89            | 86            |
| 696 | female | group C        | associate's degree          | standard     | completed               | 75         | 82            | 90            |
| 697 | female | group A        | bachelor's degree           | standard     | none                    | 59         | 72            | 70            |
| 698 | female | group D        | associate's degree          | standard     | completed               | 57         | 78            | 79            |
| 699 | male   | group C        | high school                 | free/reduced | none                    | 66         | 66            | 59            |
| 700 | female | group E        | bachelor's degree           | standard     | completed               | 79         | 81            | 82            |
| 701 | female | group B        | some high school            | standard     | none                    | 57         | 67            | 72            |
| 702 | male   | group A        | bachelor's degree           | standard     | completed               | 87         | 84            | 87            |
| 703 | female | group D        | some college                | standard     | none                    | 63         | 64            | 67            |
| 704 | female | group B        | some high school            | free/reduced | completed               | 59         | 63            | 64            |
| 705 | male   | group A        | bachelor's degree           | free/reduced | none                    | 62         | 72            | 65            |
| 706 | male   | group D        | high school                 | standard     | none                    | 46         | 34            | 36            |
| 707 | male   | group C        | some college                | standard     | none                    | 66         | 59            | 52            |
| 708 | male   | group D        | high school                 | standard     | none                    | 89         | 87            | 79            |
| 709 | female | group D        | associate's degree          | free/reduced | completed               | 42         | 61            | 58            |
| 710 | male   | group C        | some college                | standard     | completed               | 93         | 84            | 90            |
| 711 | female | group E        | some high school            | standard     | completed               | 80         | 85            | 85            |
| 712 | female | group D        | some college                | standard     | none                    | 98         | 100           | 99            |
| 713 | male   | group D        | master's degree             | standard     | none                    | 81         | 81            | 84            |
| 714 | female | group B        | some high school            | standard     | completed               | 60         | 70            | 74            |
| 715 | female | group B        | associate's degree          | free/reduced | completed               | 76         | 94            | 87            |
| 716 | male   | group C        | associate's degree          | standard     | completed               | 73         | 78            | 72            |
| 717 | female | group C        | associate's degree          | standard     | completed               | 96         | 96            | 99            |
| 718 | female | group C        | high school                 | standard     | none                    | 76         | 76            | 74            |
| 719 | male   | group E        | associate's degree          | free/reduced | completed               | 91         | 73            | 80            |
| 720 | female | group C        | some college                | free/reduced | none                    | 62         | 72            | 70            |
| 721 | male   | group D        | some high school            | free/reduced | completed               | 55         | 59            | 59            |
| 722 | female | group B        | some high school            | free/reduced | completed               | 74         | 90            | 88            |
| 723 | male   | group C        | high school                 | standard     | none                    | 50         | 48            | 42            |
| 724 | male   | group B        | some college                | standard     | none                    | 47         | 43            | 41            |
| 725 | male   | group E        | some college                | standard     | completed               | 81         | 74            | 71            |
| 726 | female | group E        | associate's degree          | standard     | completed               | 65         | 75            | 77            |
| 727 | male   | group E        | some high school            | standard     | completed               | 68         | 51            | 57            |
| 728 | female | group D        | high school                 | free/reduced | none                    | 73         | 92            | 84            |
| 729 | male   | group C        | some college                | standard     | none                    | 53         | 39            | 37            |
| 730 | female | group B        | associate's degree          | free/reduced | completed               | 68         | 77            | 80            |
| 731 | male   | group A        | some high school            | free/reduced | none                    | 55         | 46            | 43            |
| 732 | female | group C        | some college                | standard     | completed               | 87         | 89            | 94            |
| 733 | male   | group D        | some high school            | standard     | none                    | 55         | 47            | 44            |
| 734 | female | group E        | some college                | free/reduced | none                    | 53         | 58            | 57            |
| 735 | male   | group C        | master's degree             | standard     | none                    | 67         | 57            | 59            |
| 736 | male   | group C        | associate's degree          | standard     | none                    | 92         | 79            | 84            |
| 737 | female | group B        | some college                | free/reduced | completed               | 53         | 66            | 73            |
| 738 | male   | group D        | associate's degree          | standard     | none                    | 81         | 71            | 73            |
| 739 | male   | group C        | high school                 | free/reduced | none                    | 61         | 60            | 55            |
| 740 | male   | group D        | bachelor's degree           | standard     | none                    | 80         | 73            | 72            |
| 741 | female | group A        | associate's degree          | free/reduced | none                    | 37         | 57            | 56            |
| 742 | female | group C        | high school                 | standard     | none                    | 81         | 84            | 82            |
| 743 | female | group C        | associate's degree          | standard     | completed               | 59         | 73            | 72            |
| 744 | male   | group B        | some college                | free/reduced | none                    | 55         | 55            | 47            |
| 745 | male   | group D        | associate's degree          | standard     | none                    | 72         | 79            | 74            |
| 746 | male   | group D        | high school                 | standard     | none                    | 69         | 75            | 71            |
| 747 | male   | group C        | some college                | standard     | none                    | 69         | 64            | 68            |
| 748 | female | group C        | bachelor's degree           | free/reduced | none                    | 50         | 60            | 59            |
| 749 | male   | group B        | some college                | standard     | completed               | 87         | 84            | 86            |
| 750 | male   | group D        | some high school            | standard     | completed               | 71         | 69            | 68            |
| 751 | male   | group E        | some college                | standard     | none                    | 68         | 72            | 65            |
| 752 | male   | group C        | master's degree             | free/reduced | completed               | 79         | 77            | 75            |
| 753 | female | group C        | some high school            | standard     | completed               | 77         | 90            | 85            |
| 754 | male   | group C        | associate's degree          | free/reduced | none                    | 58         | 55            | 53            |
| 755 | female | group E        | associate's degree          | standard     | none                    | 84         | 95            | 92            |
| 756 | male   | group D        | some college                | standard     | none                    | 55         | 58            | 52            |
| 757 | male   | group E        | bachelor's degree           | free/reduced | completed               | 70         | 68            | 72            |
| 758 | female | group D        | some college                | free/reduced | completed               | 52         | 59            | 65            |
| 759 | male   | group B        | some college                | standard     | completed               | 69         | 77            | 77            |
| 760 | female | group C        | high school                 | free/reduced | none                    | 53         | 72            | 64            |
| 761 | female | group D        | some high school            | standard     | none                    | 48         | 58            | 54            |
| 762 | male   | group D        | some high school            | standard     | completed               | 78         | 81            | 86            |
| 763 | female | group B        | high school                 | standard     | none                    | 62         | 62            | 63            |
| 764 | male   | group D        | some college                | standard     | none                    | 60         | 63            | 59            |
| 765 | female | group B        | high school                 | standard     | none                    | 74         | 72            | 72            |
| 766 | female | group C        | high school                 | standard     | completed               | 58         | 75            | 77            |
| 767 | male   | group B        | high school                 | standard     | completed               | 76         | 62            | 60            |
| 768 | female | group D        | some high school            | standard     | none                    | 68         | 71            | 75            |
| 769 | male   | group A        | some college                | free/reduced | none                    | 58         | 60            | 57            |
| 770 | male   | group B        | high school                 | standard     | none                    | 52         | 48            | 49            |
| 771 | male   | group D        | bachelor's degree           | standard     | none                    | 75         | 73            | 74            |
| 772 | female | group B        | some high school            | free/reduced | completed               | 52         | 67            | 72            |
| 773 | female | group C        | bachelor's degree           | free/reduced | none                    | 62         | 78            | 79            |
| 774 | male   | group B        | some college                | standard     | none                    | 66         | 65            | 60            |
| 775 | female | group B        | some high school            | free/reduced | none                    | 49         | 58            | 55            |
| 776 | female | group B        | high school                 | standard     | none                    | 66         | 72            | 70            |
| 777 | female | group C        | some college                | free/reduced | none                    | 35         | 44            | 43            |
| 778 | female | group A        | some college                | standard     | completed               | 72         | 79            | 82            |
| 779 | male   | group E        | associate's degree          | standard     | completed               | 94         | 85            | 82            |
| 780 | female | group D        | associate's degree          | free/reduced | none                    | 46         | 56            | 57            |
| 781 | female | group B        | master's degree             | standard     | none                    | 77         | 90            | 84            |
| 782 | female | group B        | high school                 | free/reduced | completed               | 76         | 85            | 82            |
| 783 | female | group C        | associate's degree          | standard     | completed               | 52         | 59            | 62            |
| 784 | male   | group C        | bachelor's degree           | standard     | completed               | 91         | 81            | 79            |
| 785 | female | group B        | some high school            | standard     | completed               | 32         | 51            | 44            |
| 786 | female | group E        | some high school            | free/reduced | none                    | 72         | 79            | 77            |
| 787 | female | group B        | some college                | standard     | none                    | 19         | 38            | 32            |
| 788 | male   | group C        | associate's degree          | free/reduced | none                    | 68         | 65            | 61            |
| 789 | female | group C        | master's degree             | free/reduced | none                    | 52         | 65            | 61            |
| 790 | female | group B        | high school                 | standard     | none                    | 48         | 62            | 60            |
| 791 | female | group D        | some college                | free/reduced | none                    | 60         | 66            | 70            |
| 792 | male   | group D        | high school                 | free/reduced | none                    | 66         | 74            | 69            |
| 793 | male   | group E        | some high school            | standard     | completed               | 89         | 84            | 77            |
| 794 | female | group B        | high school                 | standard     | none                    | 42         | 52            | 51            |
| 795 | female | group E        | associate's degree          | free/reduced | completed               | 57         | 68            | 73            |
| 796 | male   | group D        | high school                 | standard     | none                    | 70         | 70            | 70            |
| 797 | female | group E        | associate's degree          | free/reduced | none                    | 70         | 84            | 81            |
| 798 | male   | group E        | some college                | standard     | none                    | 69         | 60            | 54            |
| 799 | female | group C        | associate's degree          | standard     | none                    | 52         | 55            | 57            |
| 800 | male   | group C        | some high school            | standard     | completed               | 67         | 73            | 68            |
| 801 | male   | group C        | some high school            | standard     | completed               | 76         | 80            | 73            |
| 802 | female | group E        | associate's degree          | standard     | none                    | 87         | 94            | 95            |
| 803 | female | group B        | some college                | standard     | none                    | 82         | 85            | 87            |
| 804 | female | group C        | some college                | standard     | none                    | 73         | 76            | 78            |
| 805 | male   | group A        | some college                | free/reduced | none                    | 75         | 81            | 74            |
| 806 | female | group D        | some college                | free/reduced | none                    | 64         | 74            | 75            |
| 807 | female | group E        | high school                 | free/reduced | none                    | 41         | 45            | 40            |
| 808 | male   | group C        | high school                 | standard     | none                    | 90         | 75            | 69            |
| 809 | male   | group B        | bachelor's degree           | standard     | none                    | 59         | 54            | 51            |
| 810 | male   | group A        | some high school            | standard     | none                    | 51         | 31            | 36            |
| 811 | male   | group A        | high school                 | free/reduced | none                    | 45         | 47            | 49            |
| 812 | female | group C        | master's degree             | standard     | completed               | 54         | 64            | 67            |
| 813 | male   | group E        | some high school            | standard     | completed               | 87         | 84            | 76            |
| 814 | female | group C        | high school                 | standard     | none                    | 72         | 80            | 83            |
| 815 | male   | group B        | some high school            | standard     | completed               | 94         | 86            | 87            |
| 816 | female | group A        | bachelor's degree           | standard     | none                    | 45         | 59            | 64            |
| 817 | male   | group D        | bachelor's degree           | free/reduced | completed               | 61         | 70            | 76            |
| 818 | female | group B        | high school                 | free/reduced | none                    | 60         | 72            | 68            |
| 819 | female | group C        | some high school            | standard     | none                    | 77         | 91            | 88            |
| 820 | female | group A        | some high school            | standard     | completed               | 85         | 90            | 92            |
| 821 | female | group D        | bachelor's degree           | free/reduced | none                    | 78         | 90            | 93            |
| 822 | male   | group E        | some college                | free/reduced | completed               | 49         | 52            | 51            |
| 823 | female | group B        | high school                 | free/reduced | none                    | 71         | 87            | 82            |
| 824 | female | group C        | some high school            | free/reduced | none                    | 48         | 58            | 52            |
| 825 | male   | group C        | high school                 | standard     | none                    | 62         | 67            | 58            |
| 826 | female | group C        | associate's degree          | free/reduced | completed               | 56         | 68            | 70            |
| 827 | female | group C        | some high school            | standard     | none                    | 65         | 69            | 76            |
| 828 | female | group D        | some high school            | free/reduced | completed               | 69         | 86            | 81            |
| 829 | male   | group B        | some high school            | standard     | none                    | 68         | 54            | 53            |
| 830 | female | group A        | some college                | free/reduced | none                    | 61         | 60            | 57            |
| 831 | female | group C        | bachelor's degree           | free/reduced | completed               | 74         | 86            | 89            |
| 832 | male   | group A        | bachelor's degree           | standard     | none                    | 64         | 60            | 58            |
| 833 | female | group B        | high school                 | standard     | completed               | 77         | 82            | 89            |
| 834 | male   | group B        | some college                | standard     | none                    | 58         | 50            | 45            |
| 835 | female | group C        | high school                 | standard     | completed               | 60         | 64            | 74            |
| 836 | male   | group E        | high school                 | standard     | none                    | 73         | 64            | 57            |
| 837 | female | group A        | high school                 | standard     | completed               | 75         | 82            | 79            |
| 838 | male   | group B        | associate's degree          | free/reduced | completed               | 58         | 57            | 53            |
| 839 | female | group C        | associate's degree          | standard     | none                    | 66         | 77            | 73            |
| 840 | female | group D        | high school                 | free/reduced | none                    | 39         | 52            | 46            |
| 841 | male   | group C        | some high school            | standard     | none                    | 64         | 58            | 51            |
| 842 | female | group B        | high school                 | free/reduced | completed               | 23         | 44            | 36            |
| 843 | male   | group B        | some college                | free/reduced | completed               | 74         | 77            | 76            |
| 844 | female | group D        | some high school            | free/reduced | completed               | 40         | 65            | 64            |
| 845 | male   | group E        | master's degree             | standard     | none                    | 90         | 85            | 84            |
| 846 | male   | group C        | master's degree             | standard     | completed               | 91         | 85            | 85            |
| 847 | male   | group D        | high school                 | standard     | none                    | 64         | 54            | 50            |
| 848 | female | group C        | high school                 | standard     | none                    | 59         | 72            | 68            |
| 849 | male   | group D        | associate's degree          | standard     | none                    | 80         | 75            | 69            |
| 850 | male   | group C        | master's degree             | standard     | none                    | 71         | 67            | 67            |
| 851 | female | group A        | high school                 | standard     | none                    | 61         | 68            | 63            |
| 852 | female | group E        | some college                | standard     | none                    | 87         | 85            | 93            |
| 853 | male   | group E        | some high school            | standard     | none                    | 82         | 67            | 61            |
| 854 | male   | group C        | some high school            | standard     | none                    | 62         | 64            | 55            |
| 855 | female | group B        | bachelor's degree           | standard     | none                    | 97         | 97            | 96            |
| 856 | male   | group B        | some college                | free/reduced | none                    | 75         | 68            | 65            |
| 857 | female | group C        | bachelor's degree           | standard     | none                    | 65         | 79            | 81            |
| 858 | male   | group B        | high school                 | standard     | completed               | 52         | 49            | 46            |
| 859 | male   | group C        | associate's degree          | free/reduced | none                    | 87         | 73            | 72            |
| 860 | female | group C        | associate's degree          | standard     | none                    | 53         | 62            | 53            |
| 861 | female | group E        | master's degree             | free/reduced | none                    | 81         | 86            | 87            |
| 862 | male   | group D        | bachelor's degree           | free/reduced | completed               | 39         | 42            | 38            |
| 863 | female | group C        | some college                | standard     | completed               | 71         | 71            | 80            |
| 864 | male   | group C        | associate's degree          | standard     | none                    | 97         | 93            | 91            |
| 865 | male   | group D        | some college                | standard     | completed               | 82         | 82            | 88            |
| 866 | male   | group C        | high school                 | free/reduced | none                    | 59         | 53            | 52            |
| 867 | male   | group B        | associate's degree          | standard     | none                    | 61         | 42            | 41            |
| 868 | male   | group E        | associate's degree          | free/reduced | completed               | 78         | 74            | 72            |
| 869 | male   | group C        | associate's degree          | free/reduced | none                    | 49         | 51            | 51            |
| 870 | male   | group B        | high school                 | standard     | none                    | 59         | 58            | 47            |
| 871 | female | group C        | some college                | standard     | completed               | 70         | 72            | 76            |
| 872 | male   | group B        | associate's degree          | standard     | completed               | 82         | 84            | 78            |
| 873 | male   | group E        | associate's degree          | free/reduced | none                    | 90         | 90            | 82            |
| 874 | female | group C        | bachelor's degree           | free/reduced | none                    | 43         | 62            | 61            |
| 875 | male   | group C        | some college                | free/reduced | none                    | 80         | 64            | 66            |
| 876 | male   | group D        | some college                | standard     | none                    | 81         | 82            | 84            |
| 877 | male   | group C        | some high school            | standard     | none                    | 57         | 61            | 54            |
| 878 | female | group D        | some high school            | standard     | none                    | 59         | 72            | 80            |
| 879 | female | group D        | associate's degree          | standard     | none                    | 64         | 76            | 74            |
| 880 | male   | group C        | bachelor's degree           | standard     | completed               | 63         | 64            | 66            |
| 881 | female | group E        | bachelor's degree           | standard     | completed               | 71         | 70            | 70            |
| 882 | female | group B        | high school                 | free/reduced | none                    | 64         | 73            | 71            |
| 883 | male   | group D        | bachelor's degree           | free/reduced | none                    | 55         | 46            | 44            |
| 884 | female | group E        | associate's degree          | standard     | none                    | 51         | 51            | 54            |
| 885 | female | group C        | associate's degree          | standard     | completed               | 62         | 76            | 80            |
| 886 | female | group E        | associate's degree          | standard     | completed               | 93         | 100           | 95            |
| 887 | male   | group C        | high school                 | free/reduced | none                    | 54         | 72            | 59            |
| 888 | female | group D        | some college                | free/reduced | none                    | 69         | 65            | 74            |
| 889 | male   | group D        | high school                 | free/reduced | none                    | 44         | 51            | 48            |
| 890 | female | group E        | some college                | standard     | completed               | 86         | 85            | 91            |
| 891 | female | group E        | associate's degree          | standard     | none                    | 85         | 92            | 85            |
| 892 | female | group A        | master's degree             | free/reduced | none                    | 50         | 67            | 73            |
| 893 | male   | group D        | some high school            | standard     | completed               | 88         | 74            | 75            |
| 894 | female | group E        | associate's degree          | standard     | none                    | 59         | 62            | 69            |
| 895 | female | group E        | some high school            | free/reduced | none                    | 32         | 34            | 38            |
| 896 | male   | group B        | high school                 | free/reduced | none                    | 36         | 29            | 27            |
| 897 | female | group B        | some high school            | free/reduced | completed               | 63         | 78            | 79            |
| 898 | male   | group D        | associate's degree          | standard     | completed               | 67         | 54            | 63            |
| 899 | female | group D        | some high school            | standard     | completed               | 65         | 78            | 82            |
| 900 | male   | group D        | master's degree             | standard     | none                    | 85         | 84            | 89            |
| 901 | female | group C        | master's degree             | standard     | none                    | 73         | 78            | 74            |
| 902 | female | group A        | high school                 | free/reduced | completed               | 34         | 48            | 41            |
| 903 | female | group D        | bachelor's degree           | free/reduced | completed               | 93         | 100           | 100           |
| 904 | female | group D        | some high school            | free/reduced | none                    | 67         | 84            | 84            |
| 905 | male   | group D        | some college                | standard     | none                    | 88         | 77            | 77            |
| 906 | male   | group B        | high school                 | standard     | none                    | 57         | 48            | 51            |
| 907 | female | group D        | some college                | standard     | completed               | 79         | 84            | 91            |
| 908 | female | group C        | bachelor's degree           | free/reduced | none                    | 67         | 75            | 72            |
| 909 | male   | group E        | bachelor's degree           | standard     | completed               | 70         | 64            | 70            |
| 910 | male   | group D        | bachelor's degree           | free/reduced | none                    | 50         | 42            | 48            |
| 911 | female | group A        | some college                | standard     | none                    | 69         | 84            | 82            |
| 912 | female | group C        | bachelor's degree           | standard     | completed               | 52         | 61            | 66            |
| 913 | female | group C        | bachelor's degree           | free/reduced | completed               | 47         | 62            | 66            |
| 914 | female | group B        | associate's degree          | free/reduced | none                    | 46         | 61            | 55            |
| 915 | female | group E        | some college                | standard     | none                    | 68         | 70            | 66            |
| 916 | male   | group E        | bachelor's degree           | standard     | completed               | 100        | 100           | 100           |
| 917 | female | group C        | high school                 | standard     | none                    | 44         | 61            | 52            |
| 918 | female | group C        | associate's degree          | standard     | completed               | 57         | 77            | 80            |
| 919 | male   | group B        | some college                | standard     | completed               | 91         | 96            | 91            |
| 920 | male   | group D        | high school                 | free/reduced | none                    | 69         | 70            | 67            |
| 921 | female | group C        | high school                 | free/reduced | none                    | 35         | 53            | 46            |
| 922 | male   | group D        | high school                 | standard     | none                    | 72         | 66            | 66            |
| 923 | female | group B        | associate's degree          | free/reduced | none                    | 54         | 65            | 65            |
| 924 | male   | group D        | high school                 | free/reduced | none                    | 74         | 70            | 69            |
| 925 | male   | group E        | some high school            | standard     | completed               | 74         | 64            | 60            |
| 926 | male   | group E        | associate's degree          | free/reduced | none                    | 64         | 56            | 52            |
| 927 | female | group D        | high school                 | free/reduced | completed               | 65         | 61            | 71            |
| 928 | male   | group E        | associate's degree          | free/reduced | completed               | 46         | 43            | 44            |
| 929 | female | group C        | some high school            | free/reduced | none                    | 48         | 56            | 51            |
| 930 | male   | group C        | some college                | free/reduced | completed               | 67         | 74            | 70            |
| 931 | male   | group D        | some college                | free/reduced | none                    | 62         | 57            | 62            |
| 932 | male   | group D        | associate's degree          | free/reduced | completed               | 61         | 71            | 73            |
| 933 | male   | group C        | bachelor's degree           | free/reduced | completed               | 70         | 75            | 74            |
| 934 | male   | group C        | associate's degree          | standard     | completed               | 98         | 87            | 90            |
| 935 | male   | group D        | some college                | free/reduced | none                    | 70         | 63            | 58            |
| 936 | male   | group A        | associate's degree          | standard     | none                    | 67         | 57            | 53            |
| 937 | female | group E        | high school                 | free/reduced | none                    | 57         | 58            | 57            |
| 938 | male   | group D        | some college                | standard     | completed               | 85         | 81            | 85            |
| 939 | male   | group D        | some high school            | standard     | completed               | 77         | 68            | 69            |
| 940 | male   | group C        | master's degree             | free/reduced | completed               | 72         | 66            | 72            |
| 941 | female | group D        | master's degree             | standard     | none                    | 78         | 91            | 96            |
| 942 | male   | group C        | high school                 | standard     | none                    | 81         | 66            | 64            |
| 943 | male   | group A        | some high school            | free/reduced | completed               | 61         | 62            | 61            |
| 944 | female | group B        | high school                 | standard     | none                    | 58         | 68            | 61            |
| 945 | female | group C        | associate's degree          | standard     | none                    | 54         | 61            | 58            |
| 946 | male   | group B        | high school                 | standard     | none                    | 82         | 82            | 80            |
| 947 | female | group D        | some college                | free/reduced | none                    | 49         | 58            | 60            |
| 948 | male   | group B        | some high school            | free/reduced | completed               | 49         | 50            | 52            |
| 949 | female | group E        | high school                 | free/reduced | completed               | 57         | 75            | 73            |
| 950 | male   | group E        | high school                 | standard     | none                    | 94         | 73            | 71            |
| 951 | female | group D        | some college                | standard     | completed               | 75         | 77            | 83            |
| 952 | female | group E        | some high school            | free/reduced | none                    | 74         | 74            | 72            |
| 953 | male   | group C        | high school                 | standard     | completed               | 58         | 52            | 54            |
| 954 | female | group C        | some college                | standard     | none                    | 62         | 69            | 69            |
| 955 | male   | group E        | associate's degree          | standard     | none                    | 72         | 57            | 62            |
| 956 | male   | group C        | some college                | standard     | none                    | 84         | 87            | 81            |
| 957 | female | group D        | master's degree             | standard     | none                    | 92         | 100           | 100           |
| 958 | female | group D        | high school                 | standard     | none                    | 45         | 63            | 59            |
| 959 | male   | group C        | high school                 | standard     | none                    | 75         | 81            | 71            |
| 960 | female | group A        | some college                | standard     | none                    | 56         | 58            | 64            |
| 961 | female | group D        | some high school            | free/reduced | none                    | 48         | 54            | 53            |
| 962 | female | group E        | associate's degree          | standard     | none                    | 100        | 100           | 100           |
| 963 | female | group C        | some high school            | free/reduced | completed               | 65         | 76            | 75            |
| 964 | male   | group D        | some college                | standard     | none                    | 72         | 57            | 58            |
| 965 | female | group D        | some college                | standard     | none                    | 62         | 70            | 72            |
| 966 | male   | group A        | some high school            | standard     | completed               | 66         | 68            | 64            |
| 967 | male   | group C        | some college                | standard     | none                    | 63         | 63            | 60            |
| 968 | female | group E        | associate's degree          | standard     | none                    | 68         | 76            | 67            |
| 969 | female | group B        | bachelor's degree           | standard     | none                    | 75         | 84            | 80            |
| 970 | female | group D        | bachelor's degree           | standard     | none                    | 89         | 100           | 100           |
| 971 | male   | group C        | some high school            | standard     | completed               | 78         | 72            | 69            |
| 972 | female | group A        | high school                 | free/reduced | completed               | 53         | 50            | 60            |
| 973 | female | group D        | some college                | free/reduced | none                    | 49         | 65            | 61            |
| 974 | female | group A        | some college                | standard     | none                    | 54         | 63            | 67            |
| 975 | female | group C        | some college                | standard     | completed               | 64         | 82            | 77            |
| 976 | male   | group B        | some college                | free/reduced | completed               | 60         | 62            | 60            |
| 977 | male   | group C        | associate's degree          | standard     | none                    | 62         | 65            | 58            |
| 978 | male   | group D        | high school                 | standard     | completed               | 55         | 41            | 48            |
| 979 | female | group C        | associate's degree          | standard     | none                    | 91         | 95            | 94            |
| 980 | female | group B        | high school                 | free/reduced | none                    | 8          | 24            | 23            |
| 981 | male   | group D        | some high school            | standard     | none                    | 81         | 78            | 78            |
| 982 | male   | group B        | some high school            | standard     | completed               | 79         | 85            | 86            |
| 983 | female | group A        | some college                | standard     | completed               | 78         | 87            | 91            |
| 984 | female | group C        | some high school            | standard     | none                    | 74         | 75            | 82            |
| 985 | male   | group A        | high school                 | standard     | none                    | 57         | 51            | 54            |
| 986 | female | group C        | associate's degree          | standard     | none                    | 40         | 59            | 51            |
| 987 | male   | group E        | some high school            | standard     | completed               | 81         | 75            | 76            |
| 988 | female | group A        | some high school            | free/reduced | none                    | 44         | 45            | 45            |
| 989 | female | group D        | some college                | free/reduced | completed               | 67         | 86            | 83            |
| 990 | male   | group E        | high school                 | free/reduced | completed               | 86         | 81            | 75            |
| 991 | female | group B        | some high school            | standard     | completed               | 65         | 82            | 78            |
| 992 | female | group D        | associate's degree          | free/reduced | none                    | 55         | 76            | 76            |
| 993 | female | group D        | bachelor's degree           | free/reduced | none                    | 62         | 72            | 74            |
| 994 | male   | group A        | high school                 | standard     | none                    | 63         | 63            | 62            |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            |

# Pandas Attributes, Methods, and Functions<a href="#Pandas-Attributes,-Methods,-and-Functions" class="anchor-link">¶</a>

In \[1\]:

    # Attributes = a value associated with an object 
    # (referenced by name using dotted expressions)
    # example of this is df.columns (df = dataframe)

In \[14\]:

    df_exams.columns

Out\[14\]:

    Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
           'test preparation course', 'math score', 'reading score',
           'writing score'],
          dtype='object')

In \[ \]:

    # Function = a group of related statements that peforms a specific task

# 1. Attributes<a href="#1.-Attributes" class="anchor-link">¶</a>

In \[15\]:

    # getting access to the shape attribute
    df_exams.shape

Out\[15\]:

    (1000, 8)

In \[16\]:

    # getting access to the index attribute
    df_exams.index

Out\[16\]:

    RangeIndex(start=0, stop=1000, step=1)

In \[17\]:

    # gettign access to the column attribute
    df_exams.columns

Out\[17\]:

    Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
           'test preparation course', 'math score', 'reading score',
           'writing score'],
          dtype='object')

In \[18\]:

    # data types of each column (object = string)
    df_exams.dtypes

Out\[18\]:

    gender                         object
    race/ethnicity                 object
    parental level of education    object
    lunch                          object
    test preparation course        object
    math score                      int64
    reading score                   int64
    writing score                   int64
    dtype: object

# 2. Methods<a href="#2.-Methods" class="anchor-link">¶</a>

In \[22\]:

    # showing the first 5 columns
    df_exams.head()

Out\[22\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |

In \[24\]:

    # showing the info for the dataframe (count of nulls)
    df_exams.info()

    <class 'pandas.core.frame.DataFrame'>
    RangeIndex: 1000 entries, 0 to 999
    Data columns (total 8 columns):
     #   Column                       Non-Null Count  Dtype 
    ---  ------                       --------------  ----- 
     0   gender                       1000 non-null   object
     1   race/ethnicity               1000 non-null   object
     2   parental level of education  1000 non-null   object
     3   lunch                        1000 non-null   object
     4   test preparation course      1000 non-null   object
     5   math score                   1000 non-null   int64 
     6   reading score                1000 non-null   int64 
     7   writing score                1000 non-null   int64 
    dtypes: int64(3), object(5)
    memory usage: 62.6+ KB

In \[25\]:

    # describe the basic statistics of the dataframe
    df_exams.describe()

Out\[25\]:

|       | math score | reading score | writing score |
|-------|------------|---------------|---------------|
| count | 1000.00000 | 1000.000000   | 1000.000000   |
| mean  | 66.08900   | 69.169000     | 68.054000     |
| std   | 15.16308   | 14.600192     | 15.195657     |
| min   | 0.00000    | 17.000000     | 10.000000     |
| 25%   | 57.00000   | 59.000000     | 57.750000     |
| 50%   | 66.00000   | 70.000000     | 69.000000     |
| 75%   | 77.00000   | 79.000000     | 79.000000     |
| max   | 100.00000  | 100.000000    | 100.000000    |

# 3. Functions<a href="#3.-Functions" class="anchor-link">¶</a>

In \[26\]:

    f
    len(df_exams)

Out\[26\]:

    1000

In \[29\]:

    # obtaining the highest index of the dataframe
    max(df_exams.index)

Out\[29\]:

    999

In \[30\]:

    # obtaining the lowest index of the dataframe
    min(df_exams.index)

Out\[30\]:

    0

In \[5\]:

    # obtaining the date type of the datafranme
    type(df_exams)

Out\[5\]:

    pandas.core.frame.DataFrame

In \[6\]:

    # rounding the values of the dataset
    round(df_exams, 2)

Out\[6\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            |

1000 rows × 8 columns

# 1. Selecting one column<a href="#1.-Selecting-one-column" class="anchor-link">¶</a>

# 1.1 Syntax<a href="#1.1-Syntax" class="anchor-link">¶</a>

In \[7\]:

    # selecting a column with [] (preferred way to select a column)
    df_exams['gender']

Out\[7\]:

    0      female
    1      female
    2      female
    3        male
    4        male
            ...  
    995    female
    996      male
    997    female
    998    female
    999    female
    Name: gender, Length: 1000, dtype: object

In \[8\]:

    # check out the data type of a column
    type(df_exams['gender'])

Out\[8\]:

    pandas.core.series.Series

In \[12\]:

    # series: attributes and methods
    df_exams['gender'].index
    df_exams['gender'].head()

Out\[12\]:

    0    female
    1    female
    2    female
    3      male
    4      male
    Name: gender, dtype: object

# 1.2 Syntax 2<a href="#1.2-Syntax-2" class="anchor-link">¶</a>

In \[13\]:

    # select a column width
    df_exams.gender

Out\[13\]:

    0      female
    1      female
    2      female
    3        male
    4        male
            ...  
    995    female
    996      male
    997    female
    998    female
    999    female
    Name: gender, Length: 1000, dtype: object

In \[14\]:

    # select a column with . (pitfalls)
    # python syntax does not like this because of space
    df_exams.math score

      Cell In[14], line 2
        df_exams.math score
                      ^
    SyntaxError: invalid syntax

# Selecting two or more columns<a href="#Selecting-two-or-more-columns" class="anchor-link">¶</a>

In \[16\]:

    # importing csv file and creating a dataframe for it
    df_exams = pd.read_csv('StudentsPerformance.csv')

In \[17\]:

    # selecting two or more columns
    # you can define the order of the columns within this statement below
    df_exams[['gender', 'math score']]

Out\[17\]:

|     | gender | math score |
|-----|--------|------------|
| 0   | female | 72         |
| 1   | female | 69         |
| 2   | female | 90         |
| 3   | male   | 47         |
| 4   | male   | 76         |
| ... | ...    | ...        |
| 995 | female | 88         |
| 996 | male   | 62         |
| 997 | female | 59         |
| 998 | female | 68         |
| 999 | female | 77         |

1000 rows × 2 columns

In \[18\]:

    # check out the data type of the selection - it is a dataframe
    # one pair of square brackets = series
    # two pairs of square brackets = dataframe

    type(df_exams[['gender', 'math score']])

Out\[18\]:

    pandas.core.frame.DataFrame

In \[19\]:

    # select two or more columns using [[]]

    df_exams[['gender', 'math score', 'reading score', 'writing score']]

Out\[19\]:

|     | gender | math score | reading score | writing score |
|-----|--------|------------|---------------|---------------|
| 0   | female | 72         | 72            | 74            |
| 1   | female | 69         | 90            | 88            |
| 2   | female | 90         | 95            | 93            |
| 3   | male   | 47         | 57            | 44            |
| 4   | male   | 76         | 78            | 75            |
| ... | ...    | ...        | ...           | ...           |
| 995 | female | 88         | 99            | 95            |
| 996 | male   | 62         | 55            | 55            |
| 997 | female | 59         | 71            | 65            |
| 998 | female | 68         | 78            | 77            |
| 999 | female | 77         | 86            | 86            |

1000 rows × 4 columns

In \[ \]:

    # we cannot select 2 or more columns with the "."
    # df_exams.'gender', 'math score'

# Adding a new column<a href="#Adding-a-new-column" class="anchor-link">¶</a>

In \[20\]:

    df_exams.head()

Out\[20\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            |

In \[21\]:

    # adding a new column to a dataframe
    df_exams['language score'] = 70

In \[22\]:

    df_exams

Out\[22\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            | 70             |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            | 70             |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            | 70             |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            | 70             |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            | 70             |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            | 70             |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            | 70             |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            | 70             |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            | 70             |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            | 70             |

1000 rows × 9 columns

# Adding a new column with an array<a href="#Adding-a-new-column-with-an-array" class="anchor-link">¶</a>

In \[23\]:

    # import numpy
    import numpy as np

In \[26\]:

    # create an array of 1000 elements
    language_score = np.arange(0,1000)

In \[28\]:

    # adding a new column to a dataframe with an array
    df_exams['language score'] = language_score

In \[29\]:

    df_exams

Out\[29\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | lanaguage score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|-----------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            | 0              | 0               |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            | 1              | 1               |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            | 2              | 2               |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            | 3              | 3               |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            | 4              | 4               |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...             |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            | 995            | 995             |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            | 996            | 996             |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            | 997            | 997             |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            | 998            | 998             |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            | 999            | 999             |

1000 rows × 10 columns

In \[6\]:

    # create a random integer numbers between 1 and 100
    int_language_score = np.random.randint(1,100, size = 1000)

In \[32\]:

    # always check len to make sure it worked right
    len(np.random.randint(1,100, size = 1000))

Out\[32\]:

    1000

In \[34\]:

    # np.random.randint(1,100, size = 1000) 
    # min value inclusive and max value exclusive 
    min(int_language_score)

Out\[34\]:

    1

In \[35\]:

    # np.random.randint(1,100, size = 1000) 
    # min value inclusive and max value exclusive 
    max(int_language_score)

Out\[35\]:

    99

In \[7\]:

    # adding a new column to a dataframe with an array (more practical data)
    df_exams['language score'] = int_language_score
    df_exams

Out\[7\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            | 50             |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            | 87             |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            | 94             |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            | 9              |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            | 5              |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            | 87             |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            | 77             |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            | 98             |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            | 28             |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            | 68             |

1000 rows × 9 columns

In \[41\]:

    # create random float numbers 1 and 100
    np.random.uniform(1,100, size = 1000)

Out\[41\]:

    array([69.33465527,  1.83163736, 79.44201364,  3.54286927, 46.72885491,
           21.7873921 , 65.71243841,  2.95747898, 84.68169934, 65.53655835,
           25.51834388, 30.39936582, 73.38142515, 83.17269623, 58.09200038,
           81.2682165 , 62.9967387 , 67.8467299 , 72.71566605, 77.00252842,
           88.49157484, 41.74978757, 62.57228302, 82.48925533, 87.78385637,
           52.8078643 , 33.47781092, 91.0308816 , 63.30688507, 89.42686413,
           85.40877269, 25.97509012, 71.08480496, 21.74587453, 41.98761591,
           60.99695994, 22.62854706, 77.30325662, 63.73329555, 88.75510647,
           42.77143098, 32.8223714 , 34.76078173, 76.79715277, 60.24560252,
           59.30880048, 27.28767846, 84.40412075, 65.25174863, 28.43342732,
           49.81892011, 84.07476462, 63.76672273, 27.08525854, 76.98324277,
           53.1814212 , 19.8733841 ,  6.60079985, 61.00694278, 21.23616752,
            3.4785654 , 81.08509829, 37.78676368, 85.52545209, 56.68306764,
           42.59654111, 95.33886626, 10.5655113 , 68.50759775,  4.69796543,
           99.10642307,  8.10201839, 78.74412624, 94.61828714, 62.9628663 ,
           16.19623392, 96.42275877, 15.12053414, 45.01434576, 67.14054747,
           22.23996878, 29.87064752, 31.80032874,  6.84185699, 15.49005045,
           32.37273036, 97.94510621, 64.4117465 , 74.80635323, 63.89070387,
           47.34224171, 52.95426441, 75.16634354, 98.85456757, 37.8277768 ,
           28.00881702, 22.64346828, 13.13270918, 99.94812269, 95.53299131,
           37.08962179, 26.35588531, 53.56258381, 45.25271793, 75.53051487,
           93.68040633, 14.56781081, 61.2952301 , 25.69547013, 97.99160647,
           63.90476688, 13.44031989, 79.56764315, 18.08212175, 37.20055914,
           76.76673001, 23.16762792, 37.82792167, 57.2622816 , 10.99471923,
           56.62023211, 73.84630564,  9.94779878,  8.60384777, 69.91371814,
           19.35553494, 76.5044779 , 95.57470968, 52.00672041, 73.91485738,
           20.66970029, 50.38184833, 19.03279519,  9.4064304 , 14.3713461 ,
           22.46330083, 76.38764398,  5.63563478, 17.52190011, 38.13701625,
           99.6462032 , 50.862731  , 75.08143403,  3.82197096, 22.34587982,
           47.09393214, 48.10097472, 83.92494777, 92.74327206, 72.19785915,
           49.76515638,  3.33841319, 40.11542036, 90.15911102, 83.63076912,
           67.30807042, 42.65843769, 37.15857732, 38.07535503, 98.76597452,
           25.3636877 , 58.94051881, 58.76566138, 24.0315341 , 36.04269853,
           95.01218419, 23.27754413, 20.3944487 , 27.4023823 , 84.69675249,
           20.82934535, 71.37862878, 53.0968996 , 68.10636775, 20.97063691,
            5.72684069, 86.01508645, 24.60629375, 54.84798919, 94.56977903,
           25.39317267, 49.47554591, 85.61645935, 80.21615568, 64.89604191,
           90.80515996, 26.46918063, 88.56025312, 57.29332417, 38.88202811,
           75.96217819, 29.30170196,  5.38794525, 64.04142686, 96.22651446,
           60.80965651, 48.74121854, 71.78380969, 57.52460792, 16.07015618,
           83.44375064, 92.94835072, 66.88478105, 91.9990657 , 28.18582166,
           69.20574052, 11.40995521, 34.13542819, 52.44690732, 99.6023954 ,
           44.13583329,  1.08380985, 34.01806403,  1.11429207, 45.47037211,
           33.94346348, 19.17033881, 69.20606548,  4.64496004, 26.11293299,
           94.11033194, 79.0029126 , 84.80697646, 89.90870292, 83.39555919,
           13.88117005, 11.49440373, 56.83617491, 60.6056009 , 52.18112916,
           31.44611251, 27.16415791, 11.00888294, 78.46540599, 97.80744349,
           64.22762478, 43.5372403 , 78.80273492, 85.0426732 , 26.11410558,
           38.78393782, 18.73791447, 44.74012004, 74.62433353,  3.79328867,
           92.72612353, 85.47843592, 73.77651073, 38.65663384, 22.55378749,
           84.89707247, 45.32509612, 42.20433722, 20.20218479, 23.02224114,
           62.60765517, 12.32239175, 13.7406282 , 23.78212259, 77.6821118 ,
           23.94222848, 49.49125156, 64.69236668, 28.99442175, 73.15293719,
           66.4711763 , 86.88130261, 32.62427913, 59.06277755, 52.16988283,
           45.29319592, 94.98860759, 44.75219018, 48.55857516, 15.31727612,
           18.26044202, 65.80411858, 75.12564046,  7.77207742, 47.11037933,
           28.24706719, 78.82280648, 81.40462125, 88.21210993, 27.94594005,
            2.99930897, 98.78517513,  7.28420667, 34.12244951, 26.55306407,
           87.47267143, 21.93103839, 44.02205649, 16.10396465, 71.75052786,
           33.27612376, 54.15132173, 41.99840747, 19.54480244, 76.96570426,
           41.55212295, 95.54068914, 36.34597102, 30.03090056, 98.89688834,
           97.7748944 , 63.01669628, 32.78724715, 12.07887569, 30.43930266,
           43.69267403, 70.76442998,  3.28023538, 10.33214079, 41.84836717,
           42.65297641, 80.5457881 , 18.51567958, 44.34766972, 67.194222  ,
           44.51390947, 64.6776323 , 20.0061602 ,  6.914493  , 79.02104876,
            8.18496263, 67.38186299, 61.08544876, 96.25047389, 36.14263695,
           65.73401812, 21.10298207, 82.73767958, 24.19951366, 22.63462503,
            2.18226521, 50.74568042, 16.92789846, 48.32016286, 65.13547238,
           79.12203072, 39.26857283, 15.03181002, 84.93675502, 41.41155076,
           69.93748982, 78.02813674, 73.04439493, 99.58014413,  5.93496156,
           84.57642515, 90.03748902, 83.56039024, 61.40289062, 47.6944439 ,
           93.74603506, 39.80435058,  1.18156603, 64.36517061, 44.59409633,
           62.02545123, 96.95726619, 97.54606253, 35.95695586, 41.43817662,
           11.78740757, 47.11868072, 32.44276318, 49.64090266, 73.9306291 ,
           21.74963947, 79.38908352, 10.29281158, 63.18785339, 53.74020495,
           30.3986082 , 40.13524896, 56.20461155, 54.22092496, 37.55097693,
           98.42978658, 58.050276  , 16.78970497, 13.79675757, 77.3058564 ,
           37.63943306, 79.7237264 , 34.96119354, 51.7261038 , 77.08151733,
           67.93055184, 37.02387222, 92.19152461, 68.61790991, 88.09472126,
           17.43196635, 79.06154267, 47.20135452, 34.42269068, 67.56103226,
            6.07023342, 52.25650496, 61.38650511, 82.62869699, 30.52632193,
           58.1579634 , 76.40819108, 14.98011796, 30.79018788, 15.58687483,
           15.0241458 ,  9.85094587, 72.98875696, 47.86391898, 71.56539199,
           84.71163634,  9.722586  , 19.17719695, 38.75601421, 82.62136689,
           75.68926701, 46.16280898, 77.1932058 , 38.62439935, 43.83309707,
           46.12278514, 90.28479989,  6.42382373, 23.78052501, 71.44830633,
           72.35251648, 63.52111667, 10.43678493,  2.96354415, 54.05768662,
           10.43538891, 75.47915132, 39.01446838, 70.04891815, 89.20903505,
           82.6399061 , 86.28022115, 62.06608179, 34.21573991, 12.66788498,
           77.26354386, 59.59007615, 28.42751587, 24.50829715, 92.35904174,
           56.13912606,  7.73438212, 94.79761728, 18.28170967, 91.79606187,
           46.8203087 , 70.15123115, 69.54210366, 31.5952999 , 85.30812473,
           23.93978806, 44.79521911, 91.42972601, 27.09755411, 71.48055631,
           53.09492853, 86.31253132, 98.60004462, 27.85542055,  9.9071539 ,
           32.28224811, 75.00606561, 56.78570537, 68.4665681 , 46.64231362,
           88.69768032, 45.60506521, 87.02367769, 90.09432021, 55.83667754,
           21.46506797,  1.45159108, 15.13925309, 48.68991216, 21.13017325,
           93.66141317, 20.02780868, 64.53587604, 85.80613588,  6.75208798,
           79.35914763, 40.13294713,  5.59866098, 90.1687151 , 52.9465719 ,
           56.14211153, 66.80686856, 90.52283967, 95.46992313, 84.38841519,
           22.17691529, 67.46472379, 28.82200821, 44.48216719, 55.61786516,
            5.58733653, 37.26076041, 66.79615604, 87.92394074, 70.81322014,
           88.78987989, 43.19490645, 40.18362733, 26.64262313, 93.75593725,
           95.22005451, 74.26196144, 19.96034682, 50.65450556, 97.18230232,
            4.66077249, 47.45641756, 18.78421596, 60.09101991, 72.88702514,
           66.09397973, 45.81331332, 73.73518388, 77.07787179, 28.19376721,
           50.76374285, 74.7158587 , 86.49699339, 63.34960363, 21.33880309,
           71.26065565, 61.51646879, 54.90385472, 54.92834741, 51.91481487,
           37.175119  ,  3.36140063, 31.2566231 , 83.33995664, 44.52600009,
           89.03884942, 87.79014841, 30.6478094 , 88.45747321, 46.79096721,
           37.0031554 , 79.55782571, 90.5168095 , 85.51464952, 30.09898315,
           77.65180274, 87.46455503, 35.13793621, 57.34700497, 34.76508863,
           57.09382018, 59.28087744, 87.35255692, 47.83806662, 44.47400116,
           98.0939308 , 82.61056364, 89.65266033, 79.48970015, 95.82680883,
           46.57079486, 24.71356737,  5.652078  ,  6.88685199,  8.17672084,
           40.1926144 , 25.74099812,  6.77912201, 30.4682576 , 43.53315568,
           45.81005125, 91.88756241, 25.00451111, 50.96184335, 32.60920423,
           37.68457   ,  5.88405193, 27.48257828, 12.45268982, 72.86312607,
           10.86033005, 82.60974739, 13.29858802, 43.01281517, 47.83352828,
           92.10638218, 36.1045491 , 68.06142924, 16.36926899,  1.64344809,
            7.31333586, 79.04253727, 88.91623402,  8.76255504, 78.06947262,
           86.3450724 , 67.32754174, 78.85340309, 27.12438875, 17.41718993,
           36.16829392, 30.2294861 , 45.00186058, 91.60793898, 86.1971039 ,
            2.26114756, 89.57084143, 66.58985475, 36.27158175, 13.503427  ,
           39.36015322, 50.35771237, 64.93671453, 10.38666559, 90.4559042 ,
           72.43173896, 13.53997683, 39.69836446, 87.85981628, 25.45289251,
           54.9554987 , 86.6009204 , 29.44681852, 81.69071704, 90.09951269,
           24.68275241, 85.64754354, 43.15121898, 28.23052583, 63.42591058,
           82.25932509, 29.45434303, 11.96274771, 84.52137118, 97.87289111,
            9.02821721,  1.21530253, 11.83223358,  5.56983239, 81.18585379,
           30.0544041 , 43.57698152, 76.6890283 , 71.67601082, 65.62371328,
           80.59909566, 72.26880354, 14.79043343,  8.44883372, 43.77932818,
           50.78274423, 77.59800997, 92.55526712, 99.2063207 , 86.58735757,
           94.01583931, 19.13746659, 31.12831215, 58.18079819, 85.4122162 ,
           64.92789411, 46.30570213, 42.2902783 ,  7.00963422,  4.26940153,
           64.85953941, 54.39655667, 67.16234494, 53.87875286, 97.82590135,
           58.30569861,  1.04132288, 25.01037756, 50.45764058, 71.27234175,
           38.46668626, 41.37204973, 18.48610769, 47.2317866 , 86.66341644,
           64.59853076, 97.44258657, 61.09872489, 50.72305752,  6.05029313,
           91.12368777, 73.12594066, 52.19122471, 56.31583907, 71.72026816,
            9.68695359, 26.86174344, 24.84856596, 74.79198357, 31.91514031,
           24.4325456 , 59.79718459, 66.90919788, 87.13939836, 56.96883735,
           52.94217167, 95.93258331, 87.9905552 , 71.97579311,  2.0162671 ,
           30.07668534, 77.06513169, 83.45751717, 91.29936375, 72.01860123,
            2.67595864, 12.58119023, 22.86275688, 29.96582187, 21.44469184,
           95.66892283, 34.34707681, 12.40797352, 99.72867769, 68.27550034,
            4.73670205, 65.51863607,  3.50067119,  9.56182597, 99.79665591,
           68.94309324, 78.3413882 , 68.3671687 , 53.50696519, 16.59780966,
           38.00557493, 13.86015837, 23.6194971 , 85.0084477 , 54.43157025,
           84.29757192, 71.43232839, 27.908779  , 81.42074547, 45.67936327,
           80.85737936, 10.35019166, 73.3819474 , 98.17981417, 94.86286073,
           21.27009554, 89.84547653, 15.06507141, 77.74464052, 55.80923942,
           37.41869619, 27.30851311, 16.08119338, 53.03937563, 63.74252744,
           20.7160459 , 84.43574929,  9.86734398, 39.78290533, 57.24953751,
           60.3942632 , 79.03142299, 54.85112366, 96.08321739, 70.82994684,
            1.07267212, 19.28426772,  1.7877064 ,  6.29467823, 95.13811829,
           74.24533936, 66.58180209, 57.51604617, 49.9229423 , 81.7607671 ,
           68.44412921, 58.95668211, 63.36644063, 70.19411194, 58.88456906,
           46.04550616,  6.74045305, 36.41447804, 93.42756622, 70.70832551,
           52.10748035, 33.88015773,  1.63280244,  1.39492263, 61.6770187 ,
           48.09324275, 77.62991375,  1.39493828, 61.48540988, 56.02505103,
           53.07765163, 10.65022564, 77.35205941, 56.18254657, 60.58147983,
           51.578419  ,  7.99794542, 33.37963736, 31.41579849, 69.78240591,
           73.72870464, 69.09830526, 32.56444148,  5.44477546, 11.82021252,
           87.97516228, 58.96624142, 65.51028188, 55.92643254, 11.42866792,
           16.34671894, 73.32306282, 98.85150037, 20.97954173,  6.96464133,
           34.48403974, 88.85516557, 73.52680157, 58.24899634, 90.30516483,
            2.12776687, 62.46943912, 89.10249286, 85.87583093, 97.68027284,
           45.05698366, 11.35126453, 51.61691589, 35.0195345 ,  4.38053643,
            6.88266073, 51.38713687, 25.62422318, 19.65930533, 15.64187772,
           25.66444233, 86.66832687, 55.08277687, 84.35478579, 85.64533215,
           43.20587288, 87.91998255, 12.58372562, 84.82291308, 39.20780469,
           63.42970448,  1.3955142 , 57.36838529, 46.31792304, 41.47447982,
           34.8308989 , 58.84398657, 32.29281049,  2.78231448, 13.82912414,
           14.05922201,  3.88061678, 70.20490405, 87.68991288, 29.9317657 ,
           96.22543587, 74.45011381, 93.4655248 , 48.41548599, 52.60975372,
           65.71121361,  1.78888372, 57.67191615, 61.37308319, 54.13533159,
           92.91079442,  3.90442014, 71.14982715, 14.55190528, 30.51213971,
           63.27778205, 10.06021595, 33.10478687, 38.85040661, 22.92400022,
           63.76341627,  5.18810549, 12.36473101, 74.6434954 , 96.58399683,
           46.93291975, 91.28350502, 15.23813634, 43.4183417 , 14.1103998 ,
           99.36846152,  3.13769823, 47.62510242, 21.91510974, 43.88622381,
           49.98218217, 50.30965959, 86.10706412, 87.76022599,  3.9733006 ,
           92.89496315, 56.34805434, 55.42271316,  9.21726153, 83.51529075,
           59.69882134, 42.79843707, 51.54065829, 94.60078496, 67.21356839,
           63.00750524,  9.59878312, 51.58742919, 82.55059428, 40.69674213,
           55.55528733, 74.69634391, 43.8152865 , 37.10610234, 16.17993616,
           94.88332849, 41.11370747, 42.90218128, 43.0927359 , 24.11851952,
            4.67895212,  3.9419182 , 27.95693532, 59.39507889, 90.09853071,
           53.6839569 , 73.39933123, 20.36674419, 29.64479339, 84.31161742,
           21.56901985, 32.19140558, 71.05812417, 57.90139923, 86.87196217,
           28.86219436, 86.66347737, 28.61662653, 20.41957009, 29.72495645,
           71.67075055, 42.5798081 , 16.45824397, 44.53267602,  2.34232151,
           40.85977644, 60.15022104, 82.05110485, 93.95464258, 30.52921092,
           33.46204543, 80.69131829,  8.49965527,  7.17597221, 43.71701564,
           80.6899501 , 39.205517  , 86.1319314 , 87.91735455, 79.00553398,
           14.95767307, 20.98734565, 68.97378493, 38.92335486, 29.16133142,
           66.23920344, 68.6176188 , 56.90276902, 67.03079068, 80.64509886,
           68.58370089, 62.85464262, 82.02744328, 90.91576164, 60.59934787,
           84.96091952, 99.31615893, 91.28211917, 14.18292678, 11.86446823])

In \[1\]:

    import pandas as pd
    import numpy as np

In \[4\]:

    df_exams = pd.read_csv('StudentsPerformance.csv')

In \[8\]:

    df_exams

Out\[8\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            | 50             |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            | 87             |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            | 94             |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            | 9              |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            | 5              |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            | 87             |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            | 77             |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            | 98             |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            | 28             |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            | 68             |

1000 rows × 9 columns

# Math Operations<a href="#Math-Operations" class="anchor-link">¶</a>

## 1.1 Operations in Columns<a href="#1.1-Operations-in-Columns" class="anchor-link">¶</a>

In \[12\]:

    # Select a column and calculate the total sum
    df_exams['math score'].sum()

Out\[12\]:

    66089

In \[20\]:

    # count, mean, std, max, min
    df_exams['math score'].count()
    df_exams['math score'].mean()
    df_exams['math score'].std()
    df_exams['math score'].max()
    df_exams['math score'].min()

Out\[20\]:

    0

In \[ \]:

    # another method for a few of these can be
    sum(df_exams['math score'])
    max(df_exams['math score'])
    min(df_exams['math score'])

In \[21\]:

    # easier calculation with .describe()
    df_exams.describe()

Out\[21\]:

|       | math score | reading score | writing score | language score |
|-------|------------|---------------|---------------|----------------|
| count | 1000.00000 | 1000.000000   | 1000.000000   | 1000.000000    |
| mean  | 66.08900   | 69.169000     | 68.054000     | 49.483000      |
| std   | 15.16308   | 14.600192     | 15.195657     | 29.300687      |
| min   | 0.00000    | 17.000000     | 10.000000     | 1.000000       |
| 25%   | 57.00000   | 59.000000     | 57.750000     | 23.000000      |
| 50%   | 66.00000   | 70.000000     | 69.000000     | 49.000000      |
| 75%   | 77.00000   | 79.000000     | 79.000000     | 75.000000      |
| max   | 100.00000  | 100.000000    | 100.000000    | 99.000000      |

## 1.2 Operations in Rows<a href="#1.2--Operations-in-Rows" class="anchor-link">¶</a>

In \[22\]:

    # calculating the sum in a row
    df_exams['math score'] + df_exams['reading score'] + df_exams['writing score']

Out\[22\]:

    0      218
    1      247
    2      278
    3      148
    4      229
          ... 
    995    282
    996    172
    997    195
    998    223
    999    249
    Length: 1000, dtype: int64

In \[23\]:

    # calculating the average score and assigning the result to a new column
    df_exams['average'] = (df_exams['math score'] + df_exams['reading score'] + df_exams['writing score'])/3

In \[25\]:

    # showing the dataframe and rounding to 2 decimals
    df_exams.round(2)

Out\[25\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|---------|
| 0   | female | group B        | bachelor's degree           | standard     | none                    | 72         | 72            | 74            | 50             | 72.67   |
| 1   | female | group C        | some college                | standard     | completed               | 69         | 90            | 88            | 87             | 82.33   |
| 2   | female | group B        | master's degree             | standard     | none                    | 90         | 95            | 93            | 94             | 92.67   |
| 3   | male   | group A        | associate's degree          | free/reduced | none                    | 47         | 57            | 44            | 9              | 49.33   |
| 4   | male   | group C        | some college                | standard     | none                    | 76         | 78            | 75            | 5              | 76.33   |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...     |
| 995 | female | group E        | master's degree             | standard     | completed               | 88         | 99            | 95            | 87             | 94.00   |
| 996 | male   | group C        | high school                 | free/reduced | none                    | 62         | 55            | 55            | 77             | 57.33   |
| 997 | female | group C        | high school                 | free/reduced | completed               | 59         | 71            | 65            | 98             | 65.00   |
| 998 | female | group D        | some college                | standard     | completed               | 68         | 78            | 77            | 28             | 74.33   |
| 999 | female | group D        | some college                | free/reduced | none                    | 77         | 86            | 86            | 68             | 83.00   |

1000 rows × 10 columns

# 1. Value Counts<a href="#1.-Value-Counts" class="anchor-link">¶</a>

In \[29\]:

    # counting gender elements, both work below
    # len function 
    len(df_exams['gender'])
    #.count() mehtod
    df_exams['gender'].count()

Out\[29\]:

    1000

In \[30\]:

    # counting gender elements by category
    df_exams['gender'].value_counts()

Out\[30\]:

    female    518
    male      482
    Name: gender, dtype: int64

In \[32\]:

    # return the relative frequency (divide all values by the sum of values)
    df_exams['gender'].value_counts(normalize = True)

Out\[32\]:

    female    0.518
    male      0.482
    Name: gender, dtype: float64

In \[34\]:

    # counting "parental level of education" elements by category
    df_exams['parental level of education'].value_counts()

Out\[34\]:

    some college          226
    associate's degree    222
    high school           196
    some high school      179
    bachelor's degree     118
    master's degree        59
    Name: parental level of education, dtype: int64

In \[36\]:

    # return the relative frequency and round to 2 decimals
    df_exams['parental level of education'].value_counts(normalize = True).round(2)

Out\[36\]:

    some college          0.23
    associate's degree    0.22
    high school           0.20
    some high school      0.18
    bachelor's degree     0.12
    master's degree       0.06
    Name: parental level of education, dtype: float64

# 1. Sort a Dataframe<a href="#1.-Sort-a-Dataframe" class="anchor-link">¶</a>

In \[37\]:

    # sort by one column, ascending by default, Can also omit "by" and it will run
    df_exams.sort_values(by='math score')

Out\[37\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average    |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|------------|
| 59  | female | group C        | some high school            | free/reduced | none                    | 0          | 17            | 10            | 8              | 9.000000   |
| 980 | female | group B        | high school                 | free/reduced | none                    | 8          | 24            | 23            | 5              | 18.333333  |
| 17  | female | group B        | some high school            | free/reduced | none                    | 18         | 32            | 28            | 7              | 26.000000  |
| 787 | female | group B        | some college                | standard     | none                    | 19         | 38            | 32            | 60             | 29.666667  |
| 145 | female | group C        | some college                | free/reduced | none                    | 22         | 39            | 33            | 4              | 31.333333  |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...        |
| 625 | male   | group D        | some college                | standard     | completed               | 100        | 97            | 99            | 87             | 98.666667  |
| 623 | male   | group A        | some college                | standard     | completed               | 100        | 96            | 86            | 17             | 94.000000  |
| 451 | female | group E        | some college                | standard     | none                    | 100        | 92            | 97            | 34             | 96.333333  |
| 962 | female | group E        | associate's degree          | standard     | none                    | 100        | 100           | 100           | 83             | 100.000000 |
| 149 | male   | group E        | associate's degree          | free/reduced | completed               | 100        | 100           | 93            | 24             | 97.666667  |

1000 rows × 10 columns

In \[38\]:

    # sort by one column desc
    df_exams.sort_values('math score', ascending= False)

Out\[38\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average    |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|------------|
| 962 | female | group E        | associate's degree          | standard     | none                    | 100        | 100           | 100           | 83             | 100.000000 |
| 625 | male   | group D        | some college                | standard     | completed               | 100        | 97            | 99            | 87             | 98.666667  |
| 458 | female | group E        | bachelor's degree           | standard     | none                    | 100        | 100           | 100           | 18             | 100.000000 |
| 623 | male   | group A        | some college                | standard     | completed               | 100        | 96            | 86            | 17             | 94.000000  |
| 451 | female | group E        | some college                | standard     | none                    | 100        | 92            | 97            | 34             | 96.333333  |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...        |
| 145 | female | group C        | some college                | free/reduced | none                    | 22         | 39            | 33            | 4              | 31.333333  |
| 787 | female | group B        | some college                | standard     | none                    | 19         | 38            | 32            | 60             | 29.666667  |
| 17  | female | group B        | some high school            | free/reduced | none                    | 18         | 32            | 28            | 7              | 26.000000  |
| 980 | female | group B        | high school                 | free/reduced | none                    | 8          | 24            | 23            | 5              | 18.333333  |
| 59  | female | group C        | some high school            | free/reduced | none                    | 0          | 17            | 10            | 8              | 9.000000   |

1000 rows × 10 columns

In \[40\]:

    # sort descending by multiple columns
    df_exams.sort_values(['math score','reading score'], ascending= False)

Out\[40\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average    |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|------------|
| 149 | male   | group E        | associate's degree          | free/reduced | completed               | 100        | 100           | 93            | 24             | 97.666667  |
| 458 | female | group E        | bachelor's degree           | standard     | none                    | 100        | 100           | 100           | 18             | 100.000000 |
| 916 | male   | group E        | bachelor's degree           | standard     | completed               | 100        | 100           | 100           | 3              | 100.000000 |
| 962 | female | group E        | associate's degree          | standard     | none                    | 100        | 100           | 100           | 83             | 100.000000 |
| 625 | male   | group D        | some college                | standard     | completed               | 100        | 97            | 99            | 87             | 98.666667  |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...        |
| 145 | female | group C        | some college                | free/reduced | none                    | 22         | 39            | 33            | 4              | 31.333333  |
| 787 | female | group B        | some college                | standard     | none                    | 19         | 38            | 32            | 60             | 29.666667  |
| 17  | female | group B        | some high school            | free/reduced | none                    | 18         | 32            | 28            | 7              | 26.000000  |
| 980 | female | group B        | high school                 | free/reduced | none                    | 8          | 24            | 23            | 5              | 18.333333  |
| 59  | female | group C        | some high school            | free/reduced | none                    | 0          | 17            | 10            | 8              | 9.000000   |

1000 rows × 10 columns

In \[42\]:

    # sort descedning by multipe columns and update dataframe
    # inplace arguement must be set to true to keep changes
    df_exams.sort_values(['math score','reading score'], ascending= False, inplace = True)

In \[43\]:

    df_exams

Out\[43\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average    |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|------------|
| 149 | male   | group E        | associate's degree          | free/reduced | completed               | 100        | 100           | 93            | 24             | 97.666667  |
| 458 | female | group E        | bachelor's degree           | standard     | none                    | 100        | 100           | 100           | 18             | 100.000000 |
| 916 | male   | group E        | bachelor's degree           | standard     | completed               | 100        | 100           | 100           | 3              | 100.000000 |
| 962 | female | group E        | associate's degree          | standard     | none                    | 100        | 100           | 100           | 83             | 100.000000 |
| 625 | male   | group D        | some college                | standard     | completed               | 100        | 97            | 99            | 87             | 98.666667  |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...        |
| 145 | female | group C        | some college                | free/reduced | none                    | 22         | 39            | 33            | 4              | 31.333333  |
| 787 | female | group B        | some college                | standard     | none                    | 19         | 38            | 32            | 60             | 29.666667  |
| 17  | female | group B        | some high school            | free/reduced | none                    | 18         | 32            | 28            | 7              | 26.000000  |
| 980 | female | group B        | high school                 | free/reduced | none                    | 8          | 24            | 23            | 5              | 18.333333  |
| 59  | female | group C        | some high school            | free/reduced | none                    | 0          | 17            | 10            | 8              | 9.000000   |

1000 rows × 10 columns

In \[48\]:

    # sort string data
    df_exams.sort_values('race/ethnicity', ascending= False)

Out\[48\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average   |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|-----------|
| 149 | male   | group E        | associate's degree          | free/reduced | completed               | 100        | 100           | 93            | 24             | 97.666667 |
| 50  | male   | group E        | some college                | standard     | none                    | 53         | 55            | 48            | 14             | 52.000000 |
| 533 | female | group E        | associate's degree          | standard     | completed               | 79         | 88            | 94            | 7              | 87.000000 |
| 884 | female | group E        | associate's degree          | standard     | none                    | 51         | 51            | 54            | 96             | 52.000000 |
| 700 | female | group E        | bachelor's degree           | standard     | completed               | 79         | 81            | 82            | 37             | 80.666667 |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...       |
| 88  | female | group A        | some college                | standard     | none                    | 58         | 70            | 67            | 90             | 65.000000 |
| 589 | female | group A        | some high school            | standard     | none                    | 48         | 66            | 65            | 23             | 59.666667 |
| 769 | male   | group A        | some college                | free/reduced | none                    | 58         | 60            | 57            | 26             | 58.333333 |
| 378 | female | group A        | some high school            | standard     | none                    | 71         | 83            | 77            | 63             | 77.000000 |
| 464 | male   | group A        | bachelor's degree           | standard     | completed               | 75         | 58            | 62            | 58             | 65.000000 |

1000 rows × 10 columns

In \[47\]:

    # sort descending with a key function
    df_exams.sort_values('race/ethnicity', ascending= True, key = lambda col:col.str.lower())

Out\[47\]:

|     | gender | race/ethnicity | parental level of education | lunch        | test preparation course | math score | reading score | writing score | language score | average   |
|-----|--------|----------------|-----------------------------|--------------|-------------------------|------------|---------------|---------------|----------------|-----------|
| 741 | female | group A        | associate's degree          | free/reduced | none                    | 37         | 57            | 56            | 39             | 50.000000 |
| 151 | male   | group A        | bachelor's degree           | standard     | none                    | 77         | 67            | 68            | 44             | 70.666667 |
| 811 | male   | group A        | high school                 | free/reduced | none                    | 45         | 47            | 49            | 3              | 47.000000 |
| 112 | male   | group A        | associate's degree          | standard     | none                    | 54         | 53            | 47            | 67             | 51.333333 |
| 25  | male   | group A        | master's degree             | free/reduced | none                    | 73         | 74            | 72            | 28             | 73.000000 |
| ... | ...    | ...            | ...                         | ...          | ...                     | ...        | ...           | ...           | ...            | ...       |
| 751 | male   | group E        | some college                | standard     | none                    | 68         | 72            | 65            | 93             | 68.333333 |
| 915 | female | group E        | some college                | standard     | none                    | 68         | 70            | 66            | 77             | 68.000000 |
| 592 | male   | group E        | bachelor's degree           | standard     | none                    | 68         | 68            | 64            | 6              | 66.666667 |
| 479 | male   | group E        | associate's degree          | standard     | none                    | 76         | 71            | 67            | 9              | 71.333333 |
| 517 | female | group E        | some college                | standard     | completed               | 66         | 74            | 73            | 25             | 71.000000 |

1000 rows × 10 columns

# PIVOT TABLES!!<a href="#PIVOT-TABLES!!" class="anchor-link">¶</a>

# 1 .Pivot() Method<a href="#1-.Pivot()-Method" class="anchor-link">¶</a>

In \[ \]:

    # pivotreshape data based on column values. Does not support data aggregation
    # so this is not the regular pivot tables we like
    # .pivot_table() method supports data aggregation like excel

In \[2\]:

    import pandas as pd
    import numpy as np

In \[4\]:

    df_gdp = pd.read_csv('gdp.csv',  encoding='latin-1')

In \[5\]:

    df_gdp

Out\[5\]:

|      | unid | wbid | country     | year | SES       | gdppc      | yrseduc | popshare |
|------|------|------|-------------|------|-----------|------------|---------|----------|
| 0    | 4    | AFG  | Afghanistan | 1970 | 3.474212  | 709.00000  | NaN     | 0.003097 |
| 1    | 4    | AFG  | Afghanistan | 1920 | 26.968016 | 731.75677  | NaN     | 0.003245 |
| 2    | 4    | AFG  | Afghanistan | 1990 | 1.269530  | 604.00000  | NaN     | 0.002347 |
| 3    | 4    | AFG  | Afghanistan | 1960 | 15.763076 | 739.00000  | NaN     | 0.003039 |
| 4    | 4    | AFG  | Afghanistan | 2000 | 2.061114  | 565.00000  | NaN     | 0.003309 |
| ...  | ...  | ...  | ...         | ...  | ...       | ...        | ...     | ...      |
| 2081 | 716  | ZWE  | Zimbabwe    | 1940 | 52.746567 | 813.00000  | NaN     | 0.001113 |
| 2082 | 716  | ZWE  | Zimbabwe    | 2010 | 27.091389 | 1388.97300 | NaN     | 0.002074 |
| 2083 | 716  | ZWE  | Zimbabwe    | 1990 | 59.110970 | 2526.07230 | NaN     | 0.002039 |
| 2084 | 716  | ZWE  | Zimbabwe    | 1900 | 54.722645 | 601.00000  | NaN     | 0.000996 |
| 2085 | 716  | ZWE  | Zimbabwe    | 1960 | 53.811077 | 938.00000  | NaN     | 0.001268 |

2086 rows × 8 columns

In \[6\]:

    # reshape the dataframe with .pivot()
    df_gdp.pivot(index = 'year', columns = 'country', values = 'gdppc')

Out\[6\]:

| country | Afghanistan | Albania    | Algeria     | Angola     | Argentina | Armenia   | Australia | Austria   | Bahrain     | Bangladesh | ... | Ukraine    | United Arab Emirates | United Kingdom | United States | Uruguay    | Venezuela | Vietnam    | Yemen      | Zambia     | Zimbabwe   |
|---------|-------------|------------|-------------|------------|-----------|-----------|-----------|-----------|-------------|------------|-----|------------|----------------------|----------------|---------------|------------|-----------|------------|------------|------------|------------|
| year    |             |            |             |            |           |           |           |           |             |            |     |            |                      |                |               |            |           |            |            |            |            |
| 1880    | 585.46509   | 522.00000  | 819.18604   | 533.66669  | 1731.500  | 1041.0000 | 4285.000  | 2079.000  | 811.76746   | 566.66669  | ... | 1041.0000  | 811.76746            | 3477.000       | 3184.000      | 2082.0000  | 653.000   | 556.62793  | 811.76746  | 533.66669  | 533.66669  |
| 1890    | 635.93024   | 598.00000  | 923.37207   | 567.33331  | 2152.000  | 1139.0000 | 4458.000  | 2443.000  | 881.53491   | 587.33331  | ... | 1139.0000  | 881.53491            | 4009.000       | 3392.000      | 2147.0000  | 737.000   | 608.25580  | 881.53491  | 567.33331  | 567.33331  |
| 1900    | 686.39532   | 685.00000  | 1027.55810  | 601.00000  | 2756.000  | 1237.0000 | 4013.000  | 2882.000  | 951.30231   | 608.00000  | ... | 1237.0000  | 951.30231            | 4492.000       | 4091.000      | 2219.0000  | 821.000   | 659.88373  | 951.30231  | 601.00000  | 601.00000  |
| 1910    | 736.86047   | 780.00000  | 1131.74410  | 628.69232  | 3822.000  | 1430.0769 | 5210.000  | 3290.000  | 1021.06980  | 661.84613  | ... | 1430.0769  | 1021.06980           | 4611.000       | 4964.000      | 3136.0000  | 886.000   | 711.51166  | 1021.06980 | 628.69232  | 628.69232  |
| 1920    | 731.75677   | 861.31250  | 1201.21620  | 682.62964  | 3473.000  | 1432.9333 | 4766.000  | 2412.000  | 1242.91890  | 651.89191  | ... | 1432.9333  | 3833.67580           | 4548.000       | 5552.000      | 2674.0000  | 1173.000  | 713.94592  | 1017.21620 | 682.62964  | 682.62964  |
| 1930    | 702.83783   | 929.57141  | 1255.81080  | 747.81482  | 4080.000  | 1448.0000 | 4708.000  | 3586.000  | 1529.94590  | 614.59460  | ... | 1448.0000  | 7821.78370           | 5441.000       | 6213.000      | 4301.0000  | 3444.000  | 695.29730  | 981.81079  | 747.81482  | 747.81482  |
| 1940    | 673.91895   | 965.28571  | 1310.40540  | 813.00000  | 4161.000  | 2144.0000 | 6166.000  | 3959.000  | 1816.97300  | 577.29730  | ... | 2144.0000  | 11809.89200          | 6856.000       | 7010.000      | 3661.0000  | 4045.000  | 676.64862  | 946.40540  | 813.00000  | 813.00000  |
| 1950    | 645.00000   | 1001.00000 | 1365.00000  | 1052.00000 | 4987.000  | 2841.0000 | 7412.000  | 3706.000  | 2104.00000  | 540.00000  | ... | 2841.0000  | 15798.00000          | 6939.000       | 9561.000      | 4659.0000  | 7462.000  | 658.00000  | 911.00000  | 661.00000  | 701.00000  |
| 1960    | 739.00000   | 1451.00000 | 2088.00000  | 1253.00000 | 5559.000  | 3945.0000 | 8791.000  | 6519.000  | 2843.00000  | 545.00000  | ... | 3945.0000  | 22433.00000          | 8645.000       | 11328.000     | 4960.0000  | 9646.000  | 799.00000  | 964.00000  | 960.00000  | 938.00000  |
| 1970    | 709.00000   | 2004.00000 | 2249.00000  | 1768.00000 | 7302.000  | 5575.0000 | 12024.000 | 9747.000  | 3788.00000  | 630.00000  | ... | 5575.0000  | 24552.00000          | 10767.000      | 15030.000     | 5184.0000  | 10672.000 | 735.00000  | 1230.00000 | 1073.00000 | 1282.00000 |
| 1980    | 690.00000   | 2347.00000 | 3152.00000  | 961.00000  | 8206.000  | 6116.5884 | 14412.000 | 13759.000 | 4388.00000  | 549.00000  | ... | 5378.1763  | 27709.00000          | 12931.000      | 18577.000     | 6555.0000  | 10139.000 | 757.00000  | 2290.00000 | 911.00000  | 1295.00000 |
| 1990    | 604.00000   | 4557.40820 | 10238.88400 | 4806.43020 | 10833.503 | 3735.5432 | 28572.076 | 31265.287 | 35112.55500 | 1290.43100 | ... | 10463.9600 | 114518.83000         | 26769.357      | 37062.129     | 9840.7266  | 14450.682 | 1501.13890 | 3353.78930 | 2308.60380 | 2526.07230 |
| 2000    | 565.00000   | 5470.01760 | 10211.10400 | 3831.00000 | 14924.374 | 2918.5576 | 35244.504 | 38812.051 | 44791.52000 | 1645.71730 | ... | 4797.3804  | 107206.46000         | 32961.527      | 45986.051     | 12874.7760 | 14417.104 | 2649.71950 | 3911.21970 | 2092.25510 | 2521.34740 |
| 2010    | 1662.80350  | 9927.17580 | 12898.29600 | 6492.17680 | 18794.270 | 6507.9146 | 41363.215 | 43174.977 | 39912.69500 | 2451.30520 | ... | 7824.4985  | 57406.73800          | 36195.867      | 49372.832     | 17082.4100 | 16563.396 | 4486.26120 | 4481.55470 | 3263.39480 | 1388.97300 |

14 rows × 149 columns

# 2 Pivot_table() Method<a href="#2-Pivot_table()-Method" class="anchor-link">¶</a>

In \[11\]:

    # read and show the dataset
    df_sales = pd.read_excel('supermarket_sales.xlsx')

In \[12\]:

    df_sales

Out\[12\]:

|     | Invoice ID  | Branch | City      | Customer type | Gender | Product line           | Unit price | Quantity | Tax 5%  | Total     | Date       | Time     | Payment     | cogs   | gross margin percentage | gross income | Rating |
|-----|-------------|--------|-----------|---------------|--------|------------------------|------------|----------|---------|-----------|------------|----------|-------------|--------|-------------------------|--------------|--------|
| 0   | 750-67-8428 | A      | Yangon    | Member        | Female | Health and beauty      | 74.69      | 7        | 26.1415 | 548.9715  | 2019-01-05 | 13:08:00 | Ewallet     | 522.83 | 4.761905                | 26.1415      | 9.1    |
| 1   | 226-31-3081 | C      | Naypyitaw | Normal        | Female | Electronic accessories | 15.28      | 5        | 3.8200  | 80.2200   | 2019-03-08 | 10:29:00 | Cash        | 76.40  | 4.761905                | 3.8200       | 9.6    |
| 2   | 631-41-3108 | A      | Yangon    | Normal        | Male   | Home and lifestyle     | 46.33      | 7        | 16.2155 | 340.5255  | 2019-03-03 | 13:23:00 | Credit card | 324.31 | 4.761905                | 16.2155      | 7.4    |
| 3   | 123-19-1176 | A      | Yangon    | Member        | Male   | Health and beauty      | 58.22      | 8        | 23.2880 | 489.0480  | 2019-01-27 | 20:33:00 | Ewallet     | 465.76 | 4.761905                | 23.2880      | 8.4    |
| 4   | 373-73-7910 | A      | Yangon    | Normal        | Male   | Sports and travel      | 86.31      | 7        | 30.2085 | 634.3785  | 2019-02-08 | 10:37:00 | Ewallet     | 604.17 | 4.761905                | 30.2085      | 5.3    |
| ... | ...         | ...    | ...       | ...           | ...    | ...                    | ...        | ...      | ...     | ...       | ...        | ...      | ...         | ...    | ...                     | ...          | ...    |
| 995 | 233-67-5758 | C      | Naypyitaw | Normal        | Male   | Health and beauty      | 40.35      | 1        | 2.0175  | 42.3675   | 2019-01-29 | 13:46:00 | Ewallet     | 40.35  | 4.761905                | 2.0175       | 6.2    |
| 996 | 303-96-2227 | B      | Mandalay  | Normal        | Female | Home and lifestyle     | 97.38      | 10       | 48.6900 | 1022.4900 | 2019-03-02 | 17:16:00 | Ewallet     | 973.80 | 4.761905                | 48.6900      | 4.4    |
| 997 | 727-02-1313 | A      | Yangon    | Member        | Male   | Food and beverages     | 31.84      | 1        | 1.5920  | 33.4320   | 2019-02-09 | 13:22:00 | Cash        | 31.84  | 4.761905                | 1.5920       | 7.7    |
| 998 | 347-56-2442 | A      | Yangon    | Normal        | Male   | Home and lifestyle     | 65.82      | 1        | 3.2910  | 69.1110   | 2019-02-22 | 15:33:00 | Cash        | 65.82  | 4.761905                | 3.2910       | 4.1    |
| 999 | 849-09-3807 | A      | Yangon    | Member        | Female | Fashion accessories    | 88.34      | 7        | 30.9190 | 649.2990  | 2019-02-18 | 13:28:00 | Cash        | 618.38 | 4.761905                | 30.9190      | 6.6    |

1000 rows × 17 columns

In \[13\]:

    # make a pivot table and add an aggregate function
    df_sales.pivot_table(index = 'Gender', aggfunc = 'sum')

    C:\Users\13239\AppData\Local\Temp\ipykernel_2620\3966736313.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
      df_sales.pivot_table(index = 'Gender', aggfunc = 'sum')

Out\[13\]:

|        | Quantity | Rating | Tax 5%   | Total      | Unit price | cogs      | gross income | gross margin percentage |
|--------|----------|--------|----------|------------|------------|-----------|--------------|-------------------------|
| Gender |          |        |          |            |            |           |              |                         |
| Female | 2869     | 3489.2 | 7994.425 | 167882.925 | 27687.24   | 159888.50 | 7994.425     | 2385.714286             |
| Male   | 2641     | 3483.5 | 7384.944 | 155083.824 | 27984.89   | 147698.88 | 7384.944     | 2376.190476             |

In \[16\]:

    # make a pivot table, add an aggregate function and select some columns
    df_sales.pivot_table(index = 'Gender', 
                         values = ['Quantity', 'Total'],
                         aggfunc = 'sum')

Out\[16\]:

|        | Quantity | Total      |
|--------|----------|------------|
| Gender |          |            |
| Female | 2869     | 167882.925 |
| Male   | 2641     | 155083.824 |

In \[17\]:

    # make a pivot table that says how much male and female spend in each category
    df_sales.pivot_table(index = 'Gender', 
                         columns = 'Product line',
                         values = 'Total',
                         aggfunc = 'sum')

Out\[17\]:

| Product line | Electronic accessories | Fashion accessories | Food and beverages | Health and beauty | Home and lifestyle | Sports and travel |
|--------------|------------------------|---------------------|--------------------|-------------------|--------------------|-------------------|
| Gender       |                        |                     |                    |                   |                    |                   |
| Female       | 27102.0225             | 30437.400           | 33170.9175         | 18560.9865        | 30036.8775         | 28574.7210        |
| Male         | 27235.5090             | 23868.495           | 22973.9265         | 30632.7525        | 23825.0355         | 26548.1055        |

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]:

     

In \[ \]: